
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Economica', sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
   font-family: 'Open Sans', sans-serif;
}
a:hover { text-decoration: none }

.logo {
    width: 80%;
}

nav.mainmenu ul {
    margin:  0;
    padding:  0;
    list-style:  none;
    position: relative;
}

nav.mainmenu ul li {
    display:  inline-block;
}

nav.mainmenu ul li.logout {
    position: absolute;
    right: 0;
    top: -6px
}

nav.mainmenu ul li a {
    display:  block;
    color:  #929292;
    margin-right: 60px;
    transition: all .3s linear;
}
nav.mainmenu ul li a.active {
    border-bottom: 1px solid #929292
}

nav.mainmenu ul li.logout a{
    background-color: #6d6d6d;
    color: #fff;
    padding: 5px 18px;
}
nav.mainmenu ul li.logout a:hover {
    background-color: #019EE6;
}
.header-area {
    border-top: 10px solid #019EE6;
    padding-top: 40px;
}

/*  Mian content */

/* left side bar */
.left-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.left-sidebar ul li{
    display: block;
    padding: 5px 0px
}
.left-sidebar ul li a{
    display: block;
    color:  #929292;    
    transition: all .3s linear;
}
.left-sidebar ul li a:hover {
    color: #019EE6;
}
.left-sidebar ul li a i {
    margin-right:8px;
    min-width: 20px
}

/*  Dropdown */
.left-sidebar ul li ul {
    margin-left: 30px;
}
.left-sidebar ul li ul a {
    font-size: 16px
}
/* Right sidebar */
.breadcumb {
    margin-bottom: 40px
}
.breadcumb h2 {
    color: #019EE6;
    font-size:28px
}
.main-content-wrapper {
	padding-top: 40px;
}

/* Footer section */
.footer-area {
    background-color: #000;
    border-top: 4px solid #019EE6;
    padding: 20px 0px;
    color: #a0a0a0;
    font-size: 14px;
    margin-top: 50px
    
}
.footer-logo {
    width: 40px
}
.footer-menu {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
}
.footer-menu li {
    display: inline-block;
}
.footer-menu li a {
    display: block;
    color: #a0a0a0;
    margin-right: 60px;
}
.footer-menu li a.active {
    border-bottom: 1px solid #898989
}

/* Main content */
.my-table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F9FBFE;
}
.my-table.table-bordered thead td, .table-bordered thead th {
    border-bottom: none;
}
.my-table.table td, .my-table.table th {
    padding: .4rem;
    width: 33.33333%
}
.table-footer-btn {
	background: #009FE3;
	color: #fff;
    padding: 10px 20px;
    transition: all .3s ease-in-out;
    display: inline-block;
}
.table-footer-btn:hover {
    background-color: #008ECB;
    color: #fff
}
.table-footer {
    margin-top: 40px;
    margin-bottom: 40px
}
.table-footer p {
    margin-bottom: 0px
}
.edit-action, .edit-delete {
	display: inline-block;
	margin-right: 8px;
	color: #009FE3;
}
.my-form {
    margin-top: 40px
}
.hint-text {
    font-size: .7rem;
    color: #929292;
}
.abbrechen {
    color: #9a9a9a;
    font-size: 13px;
    margin: 0 12px;
    text-decoration: none;
}
.abbrechen i {
    margin-right: 5px
}
.abbrechen:hover {
    color: red
}
.domain-dot-after, .domain-att-after{
    position: relative;
}
.domain-dot-after:after, .domain-att-after:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 40%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ccc;
}
.domain-att-after::after {
	content: "@";
	width: 0;
	height: 0;
	bottom: 80%;
	right: 7px;
}
.single-table-box .fa.fa-exchange {
	transform: rotate(90deg);
	margin-left: 5px;
}
.single-table-box .fa.fa-exchange:hover {
    cursor: pointer
}