.result {
	 position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 70px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
  body {
        background: #000;
      }