*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.panel-success {
  border: 1px solid #d6e9c6 !important;
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../img/wr1.jpg");
  height: 100%;
}
.bgimg-2 {
  background-image: url("../img/wr2.jpg");
  height: 100%;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #25d6c6;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #25d6c6;
}

#contentl,
#contentr {
  position: relative;
  z-index: 9999;
}

#contentl img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 75px;
}
#contentr img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 75px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999999;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup-inner {
  z-index: 99999;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  height: 80%;
  position: relative;
  transition: all 5s ease-in-out;
  overflow: hidden;
}

.popup-inner h2 {
  margin: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.title {
  padding-bottom: 20px;
}
.popup-inner .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup-inner .close:hover {
  color: #06d85f;
}

.popup-inner .content {
  /* overflow: auto; */
  height: 100%;
}
#iframeCall {
  height: calc(100% - 44px);
}

.notifications.bottom-right a {
  color: #000;
  font-size: 19px;
  position: absolute;
  left: 12px;
  top: 14px;
}

.notifications.bottom-right .alert-success {
  background-color: #72e4da;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 2px;
  border: none;
  padding-left: 30px;
}

.chat__box {
  position: absolute;
  right: 0px;
  top: 60px;
}

.chat__box--btn {
  background: #4472c4;
  border-radius: 15px 15px 0px 0;
  padding: 18px 60px 18px 30px;
  line-height: 10px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 53px;
  left: -99px;
  transform: rotate(-90deg);
  border: 1px solid #2f5597;
  border-bottom-color: transparent;
  z-index: 2;
  display: none;
}
.chat__box--btn.active:after {
  content: "";
  left: 108px;
  top: 17px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
}
.chat__box--btn:hover {
  cursor: pointer;
}

.chat__box-field {
  width: 0;
  transition: all 0.5s ease 0s;
  position: relative;
  /* visibility: hidden; */
}

.chat__box-field.open {
  width: 700px;
  transition: all 0.5s ease 0s;
  visibility: visible;
}

.panel-success > .panel-heading {
  background-color: #4472c4;
  color: #fff;
  border-color: #4472c4;
  border-radius: 0px;
}
.btn.btn-warning {
  background-color: #4472c4;
  border-color: #4472c4;
}
.btn-warning:focus,
.btn-warning:active {
  background: #4472c4 !important;
}
img#Foto {
  width: 40px;
}

#ElchatlistaOnline {
  display: none !important;
}
.panel-body {
  height: 320px;
}
.panel-heading .glyphicon {
  top: 3px;
}
.panel.panel-success {
  border: 0px;
}

.info-left-icon {
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.info-left-icon i {
  background-color: #333;
  width: 36px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
}
.info-left-icon i:hover {
  cursor: pointer;
}
ul.info-list {
  margin: 0;
  position: absolute;
  left: 36px;
  bottom: 40px;
  border: 1px solid #000;
  padding: 15px;
  width: 300px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
ul.info-list.active {
  opacity: 1;
  visibility: visible;
}
.info-list li {
  color: #000;
  display: block;
  position: relative;
  padding-left: 18px;
}
.info-list li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
