/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    margin:0 0 15px;
    color: #333;
    font-weight: 700
}
body {
    font-size: 14px;     /* It will be change */
    font-weight: 400;
    line-height: 26px;      /* It will be change */
    font-family: 'Lato', sans-serif;   /* It will be change */
    letter-spacing: 1px;
    color: #666666;    /* It will be change */
}
a:hover { text-decoration: none }

.section-padding{
    padding: 80px 0px;
}
.section-title{
    text-align: center;
    margin-bottom: 80px;
}
.section-border{
    position: relative;
}
.section-border span {
    height: 5px;
    background: #6aaf08;
    display: inline-block;
    width: 40px;
    border-radius: 2px;
}
.section-border span.black-border{
    background: #333;
    width: 25PX;
    margin: 0px 10px ;
}
.small-featured-bordered-img {
    width: 100%;
    height: 130px;
    background: #ddd;
    background-color: #ddd;
    background-image: url(../img/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid #fff
}
.small-featured-bordered-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: -5px;
    top: 5px;
    background: #6aaf08;
    z-index: -1;
}
.single-featured-item {
  margin-bottom: 30px;
}
.single-featured-item h3 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    border-bottom: 1px dashed #6aaf08;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.big-featured-bordered-img {
    background-color: #ddd;
    background-image: url(../img/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 94.4444%;
    margin-left: 30px;
    position: relative;
    border: 1px solid #fff
}
.big-featured-bordered-img::after {
    position: absolute;
    content: "";
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
}
.big-featured-bordered-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 10px;
    left: -10px;
    background: #6aaf08;
    z-index: -1;
}