
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 0px;
    z-index: 9;
    transition: all .5s;
}
.header.stiky {
    background-color: #28b485;
}
.mainmenu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .mainmenu li {
    display: inline-block;
  }
  .mainmenu li:first-child a {
      padding-left:0px 
  }
  .mainmenu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 700
  }
  .about__picture {
      background-image: url(../img/me.jpg);
      width: 300px;
      height: 400px;
      background-size: cover;
      position: absolute;
      top: 150px;
      left: 15px;
      box-shadow:0 8px 15px rgba(0,0,0,0.2);
  }
  .section-about {
      height: 500px;
      background-image: linear-gradient(to right, rgba(85, 197, 122, .7), rgba(40, 180, 133, .7)), url(../img/welcome-bg.jpg);
        background-size: cover;
    }
    .section-about__inner {
        padding-top: 150px
    }
    .section-about__inner * {
        color: #fff;
        
    }
    .section-about__inner h1 {
        text-transform: uppercase;
        font-size: 40px;
        letter-spacing: 4px;
        margin-bottom: 30px
    }
    .section-about__inner h1 span {
        display: block;
        font-size: 20px;
        margin-top: 5px;
    }
    .section-about__inner h6 {
        font-size: 18px
    }
    .section-about-details {
        padding-top: 100px;
        padding-bottom: 100px
    }


    .section-list{
        padding-top: 130px
    }
    .section-list ul,     .section-list ol{
        margin:0;
        padding-left: 15px;
        margin-bottom: 50px
    }
    .section-list li {
        line-height: 2
    }
    .table {
        margin-bottom: 100px
    }