/* Extra large Desktop - 1920px */
@media only screen and (min-width: 1920px) {
      
    .container{
        width: 1880px
    }  
    
}/*End Query*/

/* Large Desktop - 1366px */
@media only screen and (min-width: 1200px) and (max-width: 1919px){
     
    .container{
        width: 1170px
    }   
    
}/*End Query*/

/* Medium Desktop - 992px - 1024px */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    
    .container{
        width: 970px;
    }
    
}/*End Query*/

/* Tablet - 768px */
@media only screen and (min-width: 768px) and (max-width: 991px){
     
    .container{
        width: 750px;
    }   
    .about-info{
        text-align: center;
        margin-top:30px 
    }
    .single-service {
        margin-bottom: 30px
    }
    .contact-left-sec {
        text-align: center;
        margin-bottom: 30px
    }
    .contact-right-sec .submit{
        margin: 0 auto;
        display: block;
        margin-top: 30px
    }
    
}/*End Query*/

/*   All Mobile Device */
@media only screen and (max-width: 767px){
     
    .container{
        width: 100%;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .welcome-text h1{
        font-size: 26px;
    }
    .welcome-text h2{
        font-size: 16px;
    }   
    .about-info{
        text-align: center;
        margin-top:30px 
    }
    .about-info h1{
        font-size: 28px 
    }
    .about-info h2{
        font-size: 16px 
    }
    .single-service {
        margin-bottom: 30px
    }
    .hire-me h2{
        font-size: 20px;
    }
    .hire-me h1{ 
        font-size: 26px;
    }
    .contact-left-sec {
        text-align: center;
        margin-bottom: 30px
    }
    .contact-right-sec .submit{
        margin: 0 auto;
        display: block;
        margin-top: 30px
    }
}/*End Query*/

/* Wide Screen Mobile Device */
@media only screen and (min-width: 480px) and (max-width: 767px){
     
    .container{
        width: 450px;
    }
        .welcome-text h1{
        font-size: 26px;
    }
    .welcome-text h2{
        font-size: 16px;
    }   
    .about-info{
        text-align: center;
        margin-top:30px 
    }
    .about-info h1{
        font-size: 28px 
    }
    .about-info h2{
        font-size: 16px 
    }
    .single-service {
        margin-bottom: 30px
    }
    .hire-me h2{
        font-size: 20px;
    }
    .hire-me h1{ 
        font-size: 26px;
    }
    .contact-left-sec {
        text-align: center;
        margin-bottom: 30px
    }
    .contact-right-sec .submit{
        margin: 0 auto;
        display: block;
        margin-top: 30px
    }   
    
}/*End Query*/