/* Extra large Desktop - 1920px */
@media only screen and (min-width: 1920px) {
      
    .container{
        width: 1880px
    }  
    
}/*End Query*/

/* Large Desktop - 1366px */
@media only screen and (min-width: 1200px) and (max-width: 1919px){
     
    .container{
        width: 1170px
    }   
    
}/*End Query*/

/* Medium Desktop - 992px - 1024px */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    
    .container{
        width: 970px;
    }
    .welcome-text h1 {
        font-size: 80px
    }
    
}/*End Query*/

/* Tablet - 768px */
@media only screen and (min-width: 768px) and (max-width: 991px){
     
    .container{
        width: 750px;
    }
    .navbar-default .navbar-nav > li > a {
        margin: 0px 8px;
    }
    .welcome-text h1 {
        font-size: 60px
    }
    .welcome-text h2 {
        font-size: 18px
    }
    .contact-left-sec{
        text-align: center;
        margin-bottom: 50px
    }
    .footer-social-menu {
        text-align: left;
    }
    
}/*End Query*/

/*   All Mobile Device */
@media only screen and (max-width: 767px){
     
    .container{
        width: 100%;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .welcome-text h1 {
        font-size: 30px
    }
    .welcome-text h2 {
        font-size: 15px
    }
    .contact-left-sec{
        text-align: center;
        margin-bottom: 50px
    }
    .testimonial {
        width: 100%
    }
    .footer-social-menu {
        text-align: left;
    }
   
    
}/*End Query*/

/* Wide Screen Mobile Device */
@media only screen and (min-width: 480px) and (max-width: 767px){
     
    .container{
        width: 450px;
    }
    .welcome-text h1 {
        font-size: 35px
    }
    .welcome-text h2 {
        font-size: 15px
    }
    .contact-left-sec{
        text-align: center;
        margin-bottom: 50px
    }
    .testimonial {
        width: 100%
    }   
    
}/*End Query*/