/* Base CSS */

* {
    outline: 0px;
    margin: 0px;
    padding: 0px;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus {
    outline: 0 solid
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;
}
a:hover {
    text-decoration: none
}
.section-padding {
    padding: 80px 0px
}
.qoute-form-wrap {
    display: block;
    margin: 0 auto;
    width: 800px
}
.qoute-form-wrap img {
    display: block;
    margin: 0 75px 0 auto;
}
.blue-qoute-form {
    background-color: #2ab6fb;
    padding: 50px 100px;
    margin-top: -84px;
}
.blue-qoute-form h3 {
    color: #fff;
    font-size: 26px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.blue-qoute-form h3:after {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -65px;
    position: absolute;
    width: 130px;
}
.blue-qoute-form h3:before {
    background: #2ab6fb none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: -6px;
    content: "";
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    width: 14px;
    z-index: 1;
}
.blue-qoute-form input,
.blue-qoute-form textarea {
    width: 100%;
    background: none;
    border: none;
    padding: 10px 0px;
}
.blue-qoute-form input,
.blue-qoute-form textarea {
    border-bottom: 1px solid #0fdace;
    color: #fff;
}
.blue-qoute-form textarea {
    height: 40px;
    margin-top: 40px
}
::-webkit-input-placeholder {
    color: #fff;
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}
:-moz-placeholder {
    color: #fff;
}
.blue-form-submit {
    text-align: center;
    margin-top: 40px
}
.blue-form-submit button {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #2ab6fb;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: .3s;
    transition: .3s;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.blue-form-submit button:hover {
    transform: scale(.8);
    -webkit-transform: scale(.8);
}