* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  /* height: 100%; */
  background-color: #003366;
}
body div {
  height: 100vh;
}

div#local-video-holder {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
  height: auto;
}
#other-videos-holder {
}

#local-video-holder video {
  width: 100%;
}
#other-videos-holder video {
  float: left;
  text-align: center;
  height: 100%;
}
#other-videos-holder video.one {
  float: inherit;
  width: 100%;
}
#other-videos-holder video.two {
  width: 50%;
}
#other-videos-holder video.three {
  height: 50%;
  width: auto;
}
#other-videos-holder video.four {
  height: 50%;
  width: auto;
}
