/*
* ----------------------------------------------------------------------------------------
* GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/
*{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
body {
    font-size: 16px;     /* It will be change */
    font-weight: 300;
    line-height: 24px;      /* It will be change */
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #333333;    /* It will be change */
}

html,
body {
    height: 100%
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    font-family: inherit;   /* It will be change */
    margin-bottom: 15px;
    margin-top: 0px;
    text-transform: capitalize;
}
p{
    line-height: 32px;
}
a {
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-family: 'Raleway', sans-serif;    /* It will be change */
    color: #000
}

a:hover {
    color: #000;  /* It will be change */
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none
}
.padding-sec {
    padding: 70px 0
}

.read-more {
    padding: 10px 40px;
    border: 1px solid #000;
    color: #333;
    border-radius: 30px;
    text-transform: uppercase;;
    margin-top: 40px;
    display: inline-block;
    background: transparent;
    position: relative;
}
.read-more:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(3,3,3,.8);
    z-index: -1;
    border-radius: 30px;
    transform: scaleX(0);
    opacity: 0;
    transition: .3s
}
.read-more:hover:after {
    transform: scaleX(1);
    opacity: 1;
}
.read-more:hover {
    color: #fff
}

.title-sec {
    margin-bottom: 60px;
}
.title-sec h2 {
    font-size: 40px;
    font-weight: 900;
    line-height: 35px;
    position: relative;
    text-transform: capitalize;
}
.scrollup {
    background: #292929 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    width: 40px;
    z-index: 9;
    transition: all .3s ease;
    margin: auto;
}
.scrollup:hover {
     box-shadow: 0px 15px 15px 0 rgba(0, 0, 0, .2);
     transform: translateY(-10px);
}
.scrollup i{
    transition: all .3s ease
}
.animationload {
    background: #181818;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
}
#intro {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -33px 0 0 -33px;
    background: url(img/preloader.gif);
}

/*
* ----------------------------------------------------------------------------------------
* Main Style
* ----------------------------------------------------------------------------------------
*/
.header-sec {
    background: #000000;
    height: 100%;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.navbar-brand {
  padding: 0px;
  padding-left: 15px
}
.navbar-fixed-top{
    border: 0px
}
.navbar-brand h1 {
  font-size: 30px;
  line-height: 55px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}
.navbar-default {
    padding: 20px 0px;
    transition: all .4s ease;
    background: none
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    background-color: transparent;
    color: #ccc
}
.navbar-default .navbar-nav > li{
}
.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    color: #fff;
    padding: 14px 5px;
    margin: 0px 15px;
    text-transform: capitalize;
    position: relative;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    color: #fff
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: transparent;
    border-color: transparent;
}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #181818;
  background: transparent;
}
.menu-bg {
    background: #000 !important;
    padding: 8px
}
.welcome-hero-area {
    height: 100%;
    display: table;
    width: 100%;
    text-align: center;
    background: url(img/bg.jpg) no-repeat scroll top right;
}
.display-table-cell{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.welcome-text h1{
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    letter-spacing: 5px;
    margin: 0px;
    font-weight: 900
}
.welcome-text h2 {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;
}
 .welcome-btn {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #FFF;
    color: #fff
}
 .welcome-btn:hover:after{
    background: #fff;
 }
 .welcome-btn:hover,  .welcome-btn:focus {
    color: #000
}


/*
* ----------------------------------------------------------------------------------------
* ABOUT SECTION
* ----------------------------------------------------------------------------------------
*/
.about-left-sec h2{
    font-size: 20px
}
.about-left-sec h1{
    font-size: 40px
}


/*
* ----------------------------------------------------------------------------------------
* SERVICES SECTION
* ----------------------------------------------------------------------------------------
*/
.services-sec {
    background: #F6F6F6;
    padding-bottom: 50px;
    overflow: hidden;
}
.services-sec a:hover {
    color: inherit;
}
.services-sec:hover .title-sec h2:after {
    width: 100%
}
.single-service {
    background: #fff;
    padding: 30px;
    box-shadow: 2px 5px 20px 5px rgba(214, 214, 214, 0.41);
    margin-bottom: 30px;
    transform: scale(1);
    z-index: 1;
    transition: all .5s ease-in-out;

}
.single-service:hover {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
}
.single-service h3, .single-skill h3 {
    font-size: 14px;
    font-weight: 600;
}
.single-service i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    
    font-size: 25px;
    border-radius: 50%;
    margin-bottom:20px;
    transition: all .7s ease-in-out;
    background: #000
}
.single-service:hover i {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    transform: rotate(360deg);
}
/*
* ----------------------------------------------------------------------------------------
* RESUME SECTION
* ----------------------------------------------------------------------------------------
*/
.resume-sec {
    background: #000;
    overflow: hidden;
}
.resume-sec .title-sec h2 {
    color: #fff
}
.education h2, .experience h2 {
    color: #FFF;
    margin-bottom: 40px
}
.single-edu, .single-exp {
    position: relative;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;;
    margin-bottom: 35px
}
.single-edu h4, .single-exp h4{
    color: #fff;
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 600;
}
.single-edu h5, .single-exp h5{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.single-edu span.edu-year, .single-exp span.exp-year{
    position: absolute;
    color: #fff;
    top:0px;
    right: 0px
}

/*
* ----------------------------------------------------------------------------------------
* WORK SECTION
* ----------------------------------------------------------------------------------------
*/

.work-sorting-menu .work-btn {
    display: inline-block;
    padding: 8px 25px;
    border-radius: 30PX;
    border: 1px solid #CCC;
    background: transparent;
    text-transform: uppercase;
    margin: 0px 10px 10px;
}
.work-sorting-menu .is-checked {
    border-color: #000
}
.work-single-item{
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 30px
}
.work-single-item:hover .overlay-text {
    background: rgba(0,0,0,0.9);
    opacity: 1;
}
.work-single-item:hover .overlay-text h3{
    bottom: 50px;
    
}
.work-single-item:hover .overlay-text h4{
    bottom: 20px;
}
.work-single-item:hover .overlay-icon {
    opacity: 1;
    transform: scale(1);
}
.overlay-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 33;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(0);
    transition: all .3s;
    opacity: 0
}
.overlay-icon i {
    color: #fff;
    font-size: 30px;
}
.overlay-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    opacity: 0;
    transition: all .3s ease;
}
.overlay-text h3{
    position: absolute;;
    bottom: -50px;
    left: 10%;
    z-index: 3;
    margin-bottom: 10px;
    font-size: 16px;
    transition: all .3s ease
}
.overlay-text h4 {
    position:  absolute;
    bottom: -50px;
    left: 10%;
    font-size: 12px;
    transition: all .5s ease
}
/*
* ----------------------------------------------------------------------------------------
* TEstimonial Area
* ----------------------------------------------------------------------------------------
*/
.testimonial-sec {
    background:rgba(0,0,0,1) url("img/testimonial-bg.jpg") repeat scroll 0 0 / cover;
    background-attachment: fixed;
    position: relative;
}
.testi-img {
    width: 100px;
    margin: auto;
}
.testi-img img {
    border-radius: 50%;
    border: 4px solid #3ac4fa
}
.testimonial {
  margin: auto;
  padding-bottom: 30px;
  width: 70%;
}
.single-testi p {
    color: #fff;
    margin: 20px auto 20px auto
}
.single-testi h4.testi-author{
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.single-testi h5.testi-author-position {
    font-size: 12px;
    color: #1da
}
.testimonial .owl-controls .owl-dots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -35px;
    overflow: hidden;
}
.testimonial .owl-controls .owl-dot{
    height: 10px;
    width: 10px;
    float: left;
    margin-left: 10px;
    background: transparent;
    border-radius: 50%;
    background: #ddd
}
.testimonial .owl-controls .owl-dot.active {
    background: #3ac4fa;
    height: 10px;
    width: 10px
}
/*
* ----------------------------------------------------------------------------------------
*  BLOG SECTION
* ----------------------------------------------------------------------------------------
*/
.blog-sec:hover .title-sec h2:after {
    width: 100%
}
.single-blog-post h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin: 30px 0px 5px;
  text-transform: uppercase;
}
.single-blog-post span.blog-post-date {
    color: #333;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
}
.single-blog-post .read-more{
    font-size: 10px;
    padding: 4px 14px;
    margin-top: 0px
}

/*
* ----------------------------------------------------------------------------------------
*  CONTACT SECTION
* ----------------------------------------------------------------------------------------
*/
.single-contact{
    margin-bottom: 30px
}
.single-contact i{
    margin-bottom: 20px
}
.single-contact h3{
    font-size: 12px
}

.contact-right-sec .submit{
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0px 26px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #333;
    height: 44px;
    line-height: 44px;
    transition: all .3s ease;
    margin-top: 20px
}
.contact-right-sec .submit:hover {
    border-color: #000
}
.form-control {
    height: 50px;
    margin-bottom:  15px;
    border-radius: 6px
}
.form-control:focus {
  border-color: inherit;
  box-shadow: none;
  outline: 0 none;
}
/*
* ----------------------------------------------------------------------------------------
*  FOOTER SECTION
* ----------------------------------------------------------------------------------------
*/
.footer-sec {
    background: #000;
    color: #fff;
    padding: 50px 0px;
    font-size: 14px;
}
.copy-right-text{
    padding: 8px 0px
}
.footer-social-menu {
    text-align: right;
    padding-top: 8px;
}
.footer-social-menu a {
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    transition: .3s;
    margin-left: 10px;
    margin-right: 10px
}
.footer-social-menu a:hover {
    transform: scaleX(1.2);
}