/* Base CSS */

a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: 'Droid Serif', serif;
}
a:hover { text-decoration: none }

.user-avater img {
  max-width: 120px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.single-testimonial-item {
  font-size: 22px;
  font-style: italic;
  line-height: 32px;
  color: #fff;
  text-align: center;
}
.single-testimonial-item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  color: #A4A5A4;
}
.single-testimonial-item h4 span {
  display: block;
  font-size: 80%;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 0px;
}
.section-padding {
  padding: 100px 0px;
}
.testimonial-bg {
  background-image: url(../img/bg.jpg);
  background-color: #333;
}
.testimonial-carousel .owl-dots{
    text-align: center;
    margin-top: 20px
}
.testimonial-carousel .owl-dots div{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin:0px 8px;
    background: #2D4451;
    border-radius: 50%
}
.testimonial-carousel .owl-dots div.active{
    background: #fff
}
.testimonial-carousel:before, .testimonial-carousel:after{
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 30px;
    color: #fff
}
.testimonial-carousel:before {
    content:"\f10d";
    top:120px;
    left: -50px;
}
.testimonial-carousel:after {
    content:"\f10e";
    bottom: 120px;
    right: -50px;
}