/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .featured-content {
        padding: 0px 56px 56px;
    }
    .single-service-item {
        padding: 15px;
        min-height: 270px;
    }
    .one-time-job-section {
        font-size: 23px;
        line-height: 35px;
    }
    .job-price-minus-margin{
        padding: 72px 40px
    }
     .minus-margin-right {
       padding: 32% 0%
    }
    .single-testimonial-item {
        padding: 0px 20px;
    }
}
/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-featured-item {
        margin-bottom: 30px;
        box-shadow: 0 0px 20px #f1f1f3;
    }
    .single-service-item {
        min-height: 250px;
        margin: 0;
        padding: 35px 20px
    }
    .one-time-job-section.section-padding {
        padding: 80px 0px;
    }
    .one-time-job-section {
        font-size: 22px;
        line-height: 36px;
    }
    .colored-btn{
        font-size: 14px
    }
    .job-price-minus-margin h4 {
        font-size: 90px;
    }
    .job-price-minus-margin {
        padding: 72px 30px;
    }
    .minus-margin-right {
        padding: 31% 0%;
    }
}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

    .section-padding {
        padding: 80px 0px
    }
    .header-area {
        text-align: center;
        padding: 30px 0px;
    }
    .logo {
        margin-bottom: 20px;
    }
    .mainmenu ul li a {
        padding: 20px 10px;
        margin: 0;
    }
    .mainmenu ul li.signup a {
        padding: 10px 30px;
    }
    .welcome-hero-area {
        height: auto;
    }
    .hero-area-table {
        display: block;
        height: auto;
    }
    .hero-text {
        max-width: none;
        font-size: 18px;
        padding-top: 300px;
        padding-bottom: 100px
    }
    .hero-area-tablecell {
        display: block;
        height: auto;
    }
    .colored-btn {
        font-size: 14px
    }
    .single-featured-item {
        margin-bottom: 40px;
        box-shadow: 0 0 20px #f1f1f3;
        min-height: auto;
        padding-bottom: 30px
    }
    .featured-content {
        padding: 0px 20px 20px;
    }
    .featured-img {
        height: 190px;
    }
    .single-service-item {
        margin-bottom: 0px;
        min-height: auto;
        padding: 35px 0px;
    }
    .one-time-job-section {
        text-align: center;
        font-size: 20px;
        line-height: 32px;
    }
    .job-price-minus-margin{
        padding: 25px;
        margin-top: 100px;
        margin-bottom: 0px
    }
    .job-price-minus-margin h4 {
        font-size: 75px;
    }
    .job-price-minus-margin h4::after {
        bottom: 2px;
        left: -20px;
    }
    .minus-margin-right {
       padding: 15% 0%;
    }
    .single-testimonial-item {
        padding: 0px 20px;
    }
    .testimonial-carousel .owl-dots {
        margin-top: 30px;
    }
    .partners-img-area a {
        width: 100%;
        margin: 20px 0px;
    }
    .start-your-project-section {
        font-size: 20px;
        line-height: 30px;
    }
    .footer-section {
        text-align: center;
    }
    .footer-menu ul,
    .mainmenu ul {
        text-align: center;
        margin-top: 10px
    }
    .footer-menu ul li a {
        padding: 5px 10px;
    }
}
/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .section-padding {
        padding: 80px 0px
    }
    .header-area {
        text-align: center;
        padding: 30px 0px;
    }
    .logo {
        margin-bottom: 20px;
    }
    .mainmenu ul li a {
        padding: 20px 20px;
        margin: 0;
    }
    .mainmenu ul li.signup a {
        padding: 10px 30px;
    }
    .welcome-hero-area {
        height: auto;
    }
    .hero-area-table {
        display: block;
        height: auto;
    }
    .hero-text {
        max-width: none;
        font-size: 18px;
        padding-top: 300px;
        padding-bottom: 100px
    }
    .hero-area-tablecell {
        display: block;
        height: auto;
    }
    .colored-btn {
        font-size: 14px
    }
    .single-featured-item {
        margin-bottom: 40px;
        box-shadow: 0 0 20px #f1f1f3;
        min-height: auto;
        padding-bottom: 30px
    }
    .featured-content {
        padding: 0px 20px 20px;
    }
    .featured-img {
        height: 190px;
    }
    .single-service-item {
        margin-bottom: 0px;
        min-height: auto;
        padding: 35px 0px;
    }
    .one-time-job-section {
        text-align: center;
        font-size: 20px;
        line-height: 32px;
    }
    .job-price-minus-margin{
        padding: 40px;
        margin-top: 100px;
        margin-bottom: 0px
    }
    .job-price-minus-margin h4 {
        font-size: 75px;
    }
    .job-price-minus-margin h4::after {
        bottom: 2px;
        left: -20px;
    }
    .minus-margin-right {
        padding: 15% 0%;
    }
    .single-testimonial-item {
        padding: 0px 20px;
    }
    .testimonial-carousel .owl-dots {
        margin-top: 30px;
    }
    .partners-img-area a {
        width: 100%;
        margin: 20px 0px;
    }
    .start-your-project-section {
        font-size: 20px;
        line-height: 30px;
    }
    .footer-section {
        text-align: center;
    }
    .footer-menu ul,
    .mainmenu ul {
        text-align: center;
        margin-top: 10px
    }
    .footer-menu ul li a {
        padding: 5px 20px;
    }
}