/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    .container {
    	background: 
    }
    .mb-70{
    margin-bottom: 50px
}
.how-work-left.mt-60 {
	margin-top: 0
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
    .container {
    	background: pink
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}