/* Base CSS */

a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    margin:0 0 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}
body {
    font-size: 14px;     /* It will be change */
    font-weight: 400;
    line-height: 1.8;      /* It will be change */
    font-family: 'Roboto', sans-serif;  /* It will be change */
    color: #3a3a65;    /* It will be change */
}
a:hover { text-decoration: none }

.section-padding{
    padding: 80px 0px;
}
.section-title {
    color: #000;
    margin: 0px;
    font-size: 36px;
    width: 300px;
    transform: rotate(270deg);
    padding-top: 40px;
    margin-left: -111px;
}
.section-title:before {
    position: absolute;
    content: "";
    background: #9e9e9e;
    right: 100px;
    top:0;
    width: 35%;
    height: 1px;
}
.team-bg{
    background-size: cover;
    background-position: center top;
    background-color: #ddd;
    height: 220px;
    margin-bottom: 40px
}
.team-bg-1{background-image: url(../img/1.jpg);}
.team-bg-2{background-image: url(../img/2.jpg);}
.team-bg-3{background-image: url(../img/3.jpg);}

.borderd-content {
    border: 1px solid #666666;
    text-align:center;
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 1.6
}
.borderd-content h3 {
    color: #3a3a3a;
    background: #fff;
    display: inline-block;
    margin-bottom: 0px;
    padding: 0px 10px;
    font-size: 20px;
}
.team-title {
    margin-top: -13px;
}
.col-md-4:nth-child(2) .single-team-item {
    margin-top: 110px;
}