html,
body {
	height: 100%;
}
i {
	font-size: 35px !important;
}
body {
	font-size: 19px;
	line-height: 1.8;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	background: rgb(0, 175, 159);
	background: -moz-linear-gradient(
		top,
		rgba(0, 175, 159, 1) 0%,
		rgba(0, 216, 197, 1) 100%
	);
	background: -webkit-linear-gradient(
		top,
		rgba(0, 175, 159, 1) 0%,
		rgba(0, 216, 197, 1) 100%
	);
	background: linear-gradient(
		to bottom,
		rgba(0, 175, 159, 1) 0%,
		rgba(0, 216, 197, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00af9f', endColorstr='#00d8c5',GradientType=0 );
}
.main-content h5,
h3 {
	font-weight: 700;
}
button,
button:hover {
	cursor: pointer;
}
button:focus,
button:active {
	box-shadow: none;
	outline: transparent;
}
.height-100 {
	height: 100%;
}
.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.custom-control-label {
	font-size: 14px;
}

.custom-control-label::before,
.custom-control-label::after {
	top: 0.5rem;
}

.welcome-msg-area {
	padding: 0px 20px;
}

.plus-icon:hover,
.fa-bars:hover {
	cursor: pointer;
}
.smile-icon,
.sad-icon {
	width: 200px;
	height: 200px;
	font-size: 120px;
	text-align: center;
	visibility: hidden;
	display: none;
	color: #fff;
	margin: 0 auto;
}
.smile-icon.active,
.sad-icon.active {
	visibility: visible;
	display: block;
}
.smile-icon i {
	color: #fff;
}
.single-msg img {
	width: 35px;
}
.single-msg p {
	background-color: #fff;
	padding: 8px 20px;
	margin-left: 15px;
	border-radius: 8px;
	border-bottom-left-radius: 0;
	position: relative;
}
.single-msg p::before {
	content: "";
	position: absolute;
	left: -7px;
	top: 30px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 20px solid #fff;
	transform: rotate(81deg);
}
.min-height-600 {
	min-height: 600px;
}

.step {
	border: 1px solid #333;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background: rgb(0, 175, 159);
	background: -moz-linear-gradient(
		top,
		rgba(0, 175, 159, 1) 0%,
		rgba(0, 216, 197, 1) 100%
	);
	background: -webkit-linear-gradient(
		top,
		rgba(0, 175, 159, 1) 0%,
		rgba(0, 216, 197, 1) 100%
	);
	background: linear-gradient(
		to bottom,
		rgba(0, 175, 159, 1) 0%,
		rgba(0, 216, 197, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00af9f', endColorstr='#00d8c5',GradientType=0 );
}
.setting-btn {
	font-size: 22px;
}
.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none;
}
/*  Step 2 */
.ok-btn,
.select-device-btn {
	padding: 0;
}
.ok-btn i,
.select-device-btn i {
	width: 50px;
	height: 37px;
	line-height: 35px;
}

.custom-select {
	width: 80%;
}

.client-number-input {
	margin-bottom: 20px;
	padding: 0px 20px;
}
.my-devices,
.select-devices {
	padding: 0px 20px;
	margin-bottom: 20px;
}
.header-border-nobottom {
	display: inline-block;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.header-border-bottom {
	border-bottom: 1px solid #333;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.array-left-btn i {
	font-size: 30px;
}
.empty-input {
	border-color: red;
}
h2.device-type {
	padding-left: 20px;
}

.second-row-height {
	height: calc(100% - 46px);
}
.second-row-height > div {
	height: 100%;
}

.question_box {
	position: relative;
}

.question_box ul {
	list-style: none;
	margin: 0;
	padding-left: 0.625rem;
}

.question_box_content {
	min-height: 100px;
	padding: 25px;
	padding-top: 5px;
}

label {
	margin-bottom: 0;
}

.show_result {
	text-align: center;
}
.show_result i {
	font-size: 150px !important;
	color: #fff;
}
/* Preloader styles */
.preloader {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #00dbc8;
	opacity: 0.9;
	display: none;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	left: 0%;
	top: 0;
}

.preloader.active {
	display: flex;
}

/* radio button style */
@-moz-keyframes dothabottomcheck {
	0% {
		height: 0;
	}
	100% {
		height: 15px;
	}
}

@-webkit-keyframes dothabottomcheck {
	0% {
		height: 0;
	}
	100% {
		height: 15px;
	}
}

@keyframes dothabottomcheck {
	0% {
		height: 0;
	}
	100% {
		height: 15px;
	}
}

@keyframes dothatopcheck {
	0% {
		height: 0;
	}
	50% {
		height: 0;
	}
	100% {
		height: 30px;
	}
}
@-webkit-keyframes dothatopcheck {
	0% {
		height: 0;
	}
	50% {
		height: 0;
	}
	100% {
		height: 30px;
	}
}
@-moz-keyframes dothatopcheck {
	0% {
		height: 0;
	}
	50% {
		height: 0;
	}
	100% {
		height: 30px;
	}
}

input[type="radio"] {
	display: none;
}

.radio-button {
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: 3px solid #000;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: border-color ease 0.2s;
	-o-transition: border-color ease 0.2s;
	-webkit-transition: border-color ease 0.2s;
	transition: border-color ease 0.2s;
	cursor: pointer;
	margin-top: 8px;
}

.radio-button::before,
.radio-button::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	height: 0;
	width: 3px;
	background-color: black;
	display: inline-block;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	border-radius: 5px;
	content: " ";
	-webkit-transition: opacity ease 0.5;
	-moz-transition: opacity ease 0.5;
	transition: opacity ease 0.5;
}

.radio-button::before {
	top: 17px;
	left: 10px;
	/* box-shadow: 0 0 0 5px #667788; */
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.radio-button::after {
	top: 7px;
	left: -2px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type="radio"]:checked + .radio-button {
	border-color: black;
}

input[type="radio"]:checked + .radio-button::after {
	height: 25px;
	-moz-animation: dothabottomcheck 0.2s ease 0s forwards;
	-o-animation: dothabottomcheck 0.2s ease 0s forwards;
	-webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
	animation: dothabottomcheck 0.2s ease 0s forwards;
}

input[type="radio"]:checked + .radio-button::before {
	height: 60px;
	-moz-animation: dothatopcheck 0.2s ease 0s forwards;
	-o-animation: dothatopcheck 0.2s ease 0s forwards;
	-webkit-animation: dothatopcheck 0.2s ease 0s forwards;
	animation: dothatopcheck 0.2s ease 0s forwards;
}

/* Redesign code */
.header-area {
	padding: 20px 20px;
	margin-bottom: 20px;
	position: relative;

	background-color: #fff;
}
.header-area::before {
	position: absolute;
	content: "";
	left: 0;
	top: 98%;
	width: 100%;
	height: 100%;
	background-image: url(../img/curve.f52fdda2.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.header-area .title {
	text-align: center;
	margin: 0;
	color: #00d8c5;
}
.header-area button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
}
.header-area button i {
	width: 60px;
	height: 70px;
	line-height: 78px;
	color: #00d8c5;
}
.header-area button i.fa-cog {
	color: #666;
}
.header-area button.home-btn i {
	width: 60px;
	height: 60px;
	line-height: 60px;
}
.footer-area {
	border-top: 1px solid #333;
	margin-top: 30px;
	text-align: center;
	padding: 20px;
}

.footer-area button {
	background: transparent;
	border: 2px solid #fff;
	border-radius: 50px;
	font-size: 25px;
	margin: 10px 0px;
	color: #fff;
	padding: 5px 30px;
	position: relative;
	padding-right: 45px;
}
button.form-btn i {
	font-size: 23px !important;
}
.main-content {
	padding: 30px 50px;
	padding-top: 60px;
}
button.btn.array-left-btn {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 35px;
}
button.btn.home-btn {
	position: absolute;
	left: -6px;
	top: 70px;
	font-size: 30px;
}
button.btn.delete-device-btn {
	padding: 0;
}

button.btn.delete-device-btn i {
	width: 40px;
	height: 33px;
	font-size: 28px !important;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	margin: 0px 0px;
}
button.btn.array-left-btn.home-step-btn {
	left: auto;
	right: 0;
}
.no-border {
	border: none;
}

button.btn.go-back-btn {
	right: auto;
	left: 10px;
}

button#select_category i,
#submit_answer i {
	position: absolute;
	right: 24px;
	top: 10px;
}
