

.single-header-top.header-social-icons a { margin-right:8px; } 

.header-top-area i.fa { font-size:17px }

/* Vert Align Logo */
.logoAlign { position:relative; width:285PX; height:80px; }
.logoAlign img { position:absolute; top:0; bottom:0; margin:auto; }

img.footerLogo {
	
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);	
}

.megamenu-content h3 { margin:0 }

.car250 { margin-top:15px }

.single-megamenu-finance .upto-text { height:80px; width:80px;  font-size:18px; line-height:20px; padding:13px }


.mainmenu ul li .fnccar a { margin:0; pading:0; max-width:100px; margin-right:20px; }

.single-megamenu-item.menufnc a { margin:0; padding:0;}

.single-megamenu-item.menufnc img { max-width:100px }


.domVars { visibility:hidden; height:0; }

/* Modals */


.modal-dialog {
    margin-top: 100px;
	max-width:600px;
}

.close {
    opacity: 1;
	position: absolute;
    color: #000;
    right: 20px;	
}

#socialModalContent .footer-social-icons {
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 0;
}

.footer-social-icons a {
    border: 1px solid rgb(178, 178, 178);
    border-radius: 50px;
    color: rgb(178, 178, 178);
    display: inline-block;
    font-size: 25px;
    height: 44px;
    line-height: 38px;
    margin-right: 5px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 44px;
}

#socialModalContent input[type="text"] {
    width: calc(100% - 30px);
	margin-left:10px;
}

.modal-body input[type="text"], .modal-body input[type="email"], .modal-body input[type="password"], .modal-body input[type="tel"], .modal-body input[type="url"], .modal-body textarea, .modal-body select {
    padding: 6px 10px;
    
}

.modal-body img { margin:10px }



.single-feature img.logo { width:50px; height:auto; }

.no-tongue:after { height:0 }
.firstSection { padding-top:83px }

.section-padding.short { padding-top: 57px }
.section-padding.shorter { padding-top: 0 }




.business-1 { margin-bottom:20px }

 .openToday { color: #0DA0F4; } 


.refine-search-box label { margin-right:0} 
.refine-search-box label span { font-size:14px; letter-spacing:0; margin-left:3px }

.refine-search-box .single-color label { margin-right:10px; cursor: pointer; } 


.refine-search-box .single-color { cursor: pointer }

.single-service-box img.logo { max-width:none; width:80px; height:auto }

.car-body h3 { height:50px }

.single-dropdown-item.years-dropdown:first-child.dblWidth select { width: 272px }



.single-tag a { color:#484848 }
.single-tag a:hover { color:#fff }







/* Override styles of initial build */
.pagination-list { margin: 14px 0 17px 6px; }
.tab-body { padding: 15px 2px 20px 13px }

.view-btn.ourcar-view-btn .boxed-btn { margin-bottom:0; }

.vehicles-details { margin-top:0 }

/* Remove all of .slider-bg-? */


#ahq_finance .boxed-btn { background-color:#fff }





.signup-form input[type="email"] { height: 45px }


.single-header-top.header-social-icons a:first-child {  margin-right:8px }


/* Colours for AS */


.single-color.white  input[type="checkbox"] + label:before { background-color: #ffffff }
.single-color.grey   input[type="checkbox"] + label:before { background-color: #808080 }
.single-color.black  input[type="checkbox"] + label:before { background-color: #000000 }
.single-color.green  input[type="checkbox"] + label:before { background-color: #008000 }
.single-color.yellow input[type="checkbox"] + label:before { background-color: #ffff00 }
.single-color.red    input[type="checkbox"] + label:before { background-color: #ff0000 }
.single-color.blue   input[type="checkbox"] + label:before { background-color: #0000ff }
.single-color.beige  input[type="checkbox"] + label:before { background-color: #fcfcdc }
.single-color.brown  input[type="checkbox"] + label:before { background-color: #a53600 }
.single-color.silver input[type="checkbox"] + label:before { background-color: #c0c0c0 }
.single-color.bronze  input[type="checkbox"] + label:before { background-color: #cd7f32 }
.single-color.gold   input[type="checkbox"] + label:before { background-color: #ffd700 }
.single-color.purple input[type="checkbox"] + label:before { background-color: #800080 }
.single-color.orange input[type="checkbox"] + label:before { background-color: #ff6c00 }
.single-color.pink   input[type="checkbox"] + label:before { background-color: #ffc0c8 }
.single-color.turquoise input[type="checkbox"] + label:before { background-color: #40e0d0 }



.single-color input[type="checkbox"]:checked + label:before {
    border: 2px solid #000;

}



div.repex { width:100%; padding:0; }
div.repex table { font-size:11px; width:97%; margin:0; margin-top:10px; margin-bottom:40px; background-color:#fcfcfc }
div.repex table th { text-align:center; border: 1px solid rgb(225, 225, 225); padding:5px }
div.repex table td { text-align:right; border: 1px solid rgb(225, 225, 225); padding:2px; /* min-width:80px */}
div.repex table td.title {font-weight:bold; text-align:left }

div.repex.sm table { max-width:350px; width:-webkit-fill-available }

div.repexhead { text-align:center; width:100% }
div.repexhead span {font-weight:bold}

@media only screen and (min-width:992px) and (max-width:1200px) {
	div.repex table td { min-width:60px }
}
@media only screen and (max-width:991px) {
	div.repex table { font-size:12px; margin-left:auto; margin-right:auto; }
	div.repex table th { font-size:11px; }
	div.repex table td { min-width:40px; padding:0 8px; }
}


.single-add-icon img { width:32px }


/* Initial state for search bar */
/*
#budgetSlider { visibility:hidden; height: 0}
#priceSlider { visibility:hidden; height: 0}
*/


span.irs-to { font-size:22px }

.staticPages { background-color:#fff; border-radius: 5px; margin-top:20px; padding:20px; }
.staticPages img { float:right; width:40%; margin:0 0 0 20px }

.staticPages .servicing { padding:20px }
.staticPages .servicing img { float:none; width:100%; margin:0 }

.staticPages h1 { margin-top:28px }
.staticPages p.padded { margin-top:20px }

.paddedBottom { padding-bottom:50px }

/* html { overflow-y: scroll }*/


/* Finance Applic */
#applyNow iframe { width:100%; height:3762px }

@media only screen and (max-width: 992px) {
	#applyNow iframe { height:4180px }
}

@media only screen and (max-width: 679px) {
	#applyNow iframe { height:4280px }
}

@media only screen and (max-width: 435px) {
	#applyNow iframe { height:4380px }
}

/* Modals */
.modal-body { padding:10px 50px }
.modal-body input, .modal-body textarea { border: 1px solid #e9ecef; margin:10px 0 }

/* Listing */
.caradd-icons-row img {
    height: 32px;
}