/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {


/*===========.sell-your-car============*/
.gray-bg-3{
    padding: 0px 15px 30px 15px;
}
.booking-form-wrap {
    padding: 40px 15px 45px 15px;
}
.last-right {
    margin-left: 15px;
}
.first-left {
    margin-right: 15px;
}
.valuation-text {
    padding-top: 15px;
}


/*======sell-your-car========*/
.booking-form input[type="text"], .booking-form input[type="email"], .booking-form input[type="password"], .booking-form input[type="tel"] {
    width: 100%;
}
.gray-bg-3 {
    text-align: center;
}
.reg-box {
    margin: 30px auto;
}





}


@media (min-width: 480px) and (max-width: 575px) {



}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 

/*===========.sell-your-car=============*/
.booking-form input[type="text"], .booking-form input[type="email"], .booking-form input[type="password"], .booking-form input[type="tel"] {
    width: 240px;
}
.your-details input {
    width: 100% !important;
}
.valuation-text {
    padding-top: 15px;
}
.gray-bg-3 {
    text-align: center;
}
.reg-box {
    margin: 30px auto;
}



}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 

/*===========.sell-your-car=============*/
.booking-form input[type="text"], .booking-form input[type="email"], .booking-form input[type="password"], .booking-form input[type="tel"] {
    width: 179px;
}
.your-details input {
    width: 100% !important;
}
.row.cntr {
    justify-content: center;
}
.valuation-text {
    /* padding-top: 20px; */
}
.gray-bg-3 {
    text-align: center;
}
.reg-box {
    margin: 30px auto;
}
.row.breadcrumb-wrap {
    justify-content: center;
}




}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 

/*==========.sell-your-car============*/
.booking-form input[type="text"], .booking-form input[type="email"], .booking-form input[type="password"], .booking-form input[type="tel"] {
    width: 210px;
}




}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {



}










