/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
.single-service-box.deposit-bg {
    margin-bottom: 30px;
}
.single-car250 {
    height: 90px;
}
.single-car250 img {
    max-height: 80px;
}
.upto-text {
    width: 70px;
    height: 70px;
    font-size: 16px;
    line-height: 18px;
    margin-left: -35px;
}
.upto-text span {
    font-size: 22px;
}
.car-finance-area .section-title {
    padding-bottom: 0px;
}
.carlogo.d-flex {
    display: block !important;
}
.single-carlogo {
    margin: 0 0 20px;
}
.deposit-bg h2 span {
    left: -154px;
    top: 21px;
    font-size: 110px;
}
.deposit-bg h2 {
    font-size: 40px;
    margin-left: 148px;
}
.review-content-right {
    width: 100%;
}
.review-content .owl-dots {
    bottom: 90px;
}
.plus-icon {
    right: 50%;
    bottom: 30px;
    margin-right: -20px;
}

.paper-icon {
    height: 150px;
    width: 150px;
    padding-top: 16px;
    margin-bottom: 0px;
    text-align: center;
}
.review-icon {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -75px;
}
.paper-icon h3 {
    font-size: 24px;
    margin: 3px 0 0 0;
}
.single-review-carousel {
    padding-top: 70px;
}
.single-slider {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center right; 
}
.single-slider h2 {
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 1.1;
}
.slide-text {
    padding: 0 15px;
    margin-top: 20px;
}
.banner-area, .single-slider {
    height: 300px;
}
.banner-area{position: relative;z-index: 2;}
.banner-area:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
}
.banner-area:after{
background: #e96539;
background: -moz-linear-gradient(top, #e96539 0%, #feded3 100%);
background: -webkit-linear-gradient(top, #e96539 0%,#feded3 100%);
background: linear-gradient(to bottom, #e96539 0%,#feded3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e96539', endColorstr='#feded3',GradientType=0 );
}
.slide-text:after{background: none;}
.slide-text .boxed-btn {
    padding: 0 15px;
}
.homepage-slides-wrap .owl-dots {
    position: relative;
    right: 0;
    top: 0;
    background: none;
    margin-top: 0px;
}
.homepage-slides-wrap .owl-dots div {
    margin-top: 0;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.logo-carousel-area {
    margin-top: 55px;
}
.homepage-slides-wrap .owl-dots div.active {
    top: -2px
}
.service-area {
    padding-bottom: 0;
}
.single-ourcar-carousel {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.owl-carousel .owl-item .bodytype-carousel-wrap img {
    max-width: 170px;
}

.single-ourcar-carousel img {
    max-width: 100%;
    max-height: 100%;
}
div#ahq_features .owl-carousel .owl-item img {
    width: 100%;
}





}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 
.single-service-box.deposit-bg {
    /*margin-bottom: 30px;*/
}

.review-content-right {
    width: 100%;
}
.review-content .owl-dots {
    bottom: 115px;
}
.plus-icon {
    right: 50%;
    bottom: 30px;
    margin-right: -20px;
}



.paper-icon {
    height: 150px;
    width: 150px;
    padding-top: 16px;
    margin-bottom: 0px;
    text-align: center;
}
.review-icon {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -75px;
}
.paper-icon h3 {
    font-size: 24px;
    margin: 3px 0 0 0;
}
.single-review-carousel {
    padding-top: 70px;
}

.single-slider {
    background-size: auto;
    background-position: initial;
    background-repeat: no-repeat;
    background-position: 90% 95%;
}
.single-slider h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.slide-text {
    padding: 0;
    margin-top: 20px;
}
.banner-area, .single-slider {
    height: 300px;
}
.banner-area{position: relative;z-index: 2;}
.banner-area:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
}
.banner-area:after{
background: #e96539;
background: -moz-linear-gradient(top, #e96539 0%, #feded3 100%);
background: -webkit-linear-gradient(top, #e96539 0%,#feded3 100%);
background: linear-gradient(to bottom, #e96539 0%,#feded3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e96539', endColorstr='#feded3',GradientType=0 );
}
.slide-text:after{background: none;}
.slide-text .boxed-btn {
    padding: 0 15px;
}
.homepage-slides-wrap .owl-dots {
    position: relative;
    right: 0;
    top: 0;
    background: none;
    margin-top: 0px;
}
.homepage-slides-wrap .owl-dots div {
    margin-top: 0;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.logo-carousel-area {
    margin-top: 55px;
}
.homepage-slides-wrap .owl-dots div.active {
    top: -2px
}
.service-area {
    padding-bottom: 30px;
}


.ourcar-carousel-wrap .boxed-btn {
    padding: 0px 10px;
}
.single-ourcar-carousel {
    padding: 10px;
}
.single-logo-carousel .owl-item:after {
    left: -2px;
}
.owl-carousel .owl-item .bodytype-carousel-wrap img {
    max-width: 170px;
}




}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 

.single-service-box.deposit-bg {
    margin-bottom: 30px;
    padding-left: 30px;
}
.owl-nav div {
    left: -20px;
}
.owl-nav div.owl-next {
    right: -20px;
}
.single-logo-carousel .owl-item:after {
    left: -4px;
}
.banner-area, .single-slider {
    /* height: 400px; */
}
.logo-carousel-area {
    margin-top: 20px;
}


.slide-text {
    margin-right: 130px;
}

.review-content-right, .car-listing-wrap-1 {
    width: 100%;
}
.review-content .owl-dots {
    bottom: 115px;
}
.plus-icon {
    right: 50%;
    bottom: 30px;
    margin-right: -20px;
}
.single-review-carousel {
    padding: 0 100px;
}


.paper-icon {
    height: 150px;
    width: 150px;
    padding-top: 16px;
    margin-bottom: 0px;
    text-align: center;
}
.review-icon {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -75px;
}
.paper-icon h3 {
    font-size: 24px;
    margin: 3px 0 0 0;
}
.single-review-carousel {
    padding-top: 70px;
}


.ourcar-carousel-wrap .boxed-btn {
    padding: 0px 10px;
}

.single-ourcar-carousel img {
    max-width: 100%;
}
.single-service-box {
    min-height: 550px;
}
.single-service-box.deposit-bg {
    margin-bottom: 0px;
    padding-left: 15px;
}
.deposit-bg h2 span {
    left: -143px;
    font-size: 105px;
}
.single-review-carousel {
    padding: 0 20px;
}
.deposit-bg h2 {
    font-size: 49px;
    margin-left: 140px;
}
.single-listing-item-1 h3 {
    font-size: 18px;
}



}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 

.single-service-box.deposit-bg {
    margin-bottom: 30px;
    padding-left: 30px;
}
.owl-nav div {
    left: -20px;
}
.owl-nav div.owl-next {
    right: -20px;
}
.single-logo-carousel .owl-item:after {
    left: -4px;
}
.banner-area, .single-slider {
    /* height: 400px; */
}
.logo-carousel-area {
    margin-top: 20px;
}


.slide-text {
    margin-right: 130px;
}

.review-content-right, .car-listing-wrap-1 {
    width: 100%;
}
.review-content .owl-dots {
    bottom: 115px;
}
.plus-icon {
    right: 50%;
    bottom: 30px;
    margin-right: -20px;
}
.single-review-carousel {
    padding: 0 100px;
}


.paper-icon {
    height: 150px;
    width: 150px;
    padding-top: 16px;
    margin-bottom: 0px;
    text-align: center;
}
.review-icon {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -75px;
}
.paper-icon h3 {
    font-size: 24px;
    margin: 3px 0 0 0;
}
.single-review-carousel {
    padding-top: 70px;
}


.ourcar-carousel-wrap .boxed-btn {
    padding: 0px 10px;
}
/*.logo-carousel-wrap img, .owl-carousel .owl-item .logo-carousel-wrap img {
    max-width: 90px;
}*/
.single-ourcar-carousel img {
    max-width: 100%;
}
.single-service-box {
    min-height: 550px;
}
.single-service-box.deposit-bg {
    margin-bottom: 0px;
    padding-left: 15px;
}
.deposit-bg h2 span {
    left: -143px;
    font-size: 105px;
}
.single-review-carousel {
    padding: 0 20px;
}
.deposit-bg h2 {
    font-size: 49px;
    margin-left: 140px;
}
.single-listing-item-1 h3 {
    font-size: 18px;
}





}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 


.single-dropdown-item select {
    width: 185px;
}
.small-dropdown-item select {
    width: 110px;
}
.search-content-right button[type="submit"] {
    padding: 0px 10px;
}
.range-slider-wrap {
    width: 265px;
    margin-left: 10px;
}


.owl-nav div {
    left: -23px;
}
.owl-nav div.owl-next {
    right: -23px;
}
.slide-text {
    margin-top: 40px;
}
.single-header-top {
    margin-right: 10px;
    margin-left: 10px;
}
.single-ourcar-carousel{
    padding: 20px;
}
.single-ourcar-carousel .carphoto, .single-listing-item-1 .carphoto {
    border: 10px solid #484848;
    border-radius: 5px;
}
.single-ourcar-carousel .carphoto img, .single-listing-item-1 .carphoto img {
    border-radius: 0;
}

.carad-right {
    width: 49%;
}
.homepage-slides-wrap .owl-dots {
    left: 125px

}

}

@media  (min-width: 1200px) { 

    .homepage-slides-wrap .owl-dots {
        left: 125px;
    }
}