/*=======================================================
		  responsive css for header and footer
=========================================================*/
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    /*==========.default-style================*/
.white-bg:after, .gray-bg:after, .sort-dropdown span, .depoimg{
    display: none !important;
}
.off-canvas-menu, .menu-trigger, .review-icon.d-none, .icons-small-devices.d-none{
    display: block !important;
}
.section-title {
    margin: 0 20px 40px 20px;
}
.section-title h2 {
    font-size: 30px;
}


/*==========.header-style================*/
.header-top {
    margin-left: 0;
    justify-content: center;
}
.single-header-top {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
    padding: 7px 0px 7px 0;
}
.upto-text {
    width: 70px;
    height: 70px;
    font-size: 16px;
    line-height: 18px;
    margin-left: -35px;
}
.upto-text span {
    font-size: 22px;
}
.logo img {
    max-width: 150px;
}
.header-area, .logo {
    min-height: 60px;
}
.wid45 {
    width: 100%;
    order: 1;
    padding-left: 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: 36px;
}
.wid55 {
    width: 100%;
}
.icons-small-devices a {
    color: #696969;
    font-size: 22px;
    /* padding: 17px; */
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #696969;
    border-radius: 50%;
    text-align: center;
    margin: 14px 0 0 5px;
    line-height: 37px;
}
.icons-small-devices {
    float: right;
     margin-right: 6px; 
}
.menu-trigger {
    left: 15px;
}




/*==========.footer-style================*/
.disflex {
    display: flex;
}
.ordertwo {
    order: 2;
}
.orderone {
    order: 1;
}
.newsletter-signup {
    min-height: 280px;
}
.newsletter-signup {
    padding-left: 0;
    padding-top: 30px;
}
.footer-widget-left {
    min-height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.footer-widget-left, .newsletter-signup {
    text-align: center;
}
.footer-widget-left .logo {
    margin-bottom: 30px;
}
.newsletter-signup {
    min-height: 260px;
}
.newsletter-signup {
    padding-left: 0;
    padding-top: 30px;
}
.footer-widget-left {
    min-height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.signup-form input[type="email"] {
    width: 300px;
}
.wid40 {
    width: 40%;
    text-align: center;
    margin-top: 9px;
}
.wid60 {
    width: 60%;
    text-align: center !important;
}
.widget-social-icons a {
    margin-top: 30px;
}
.wid50 {
    width: 50%;
}
.footer-text {
    padding: 0px 20px;
}
.quick-links {
    text-align: left;
    margin-left: 30px;
}



}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 
/*==========.default-style================*/
.white-bg:after, .gray-bg:after, .depoimg{
    display: none !important;
}
.off-canvas-menu, .menu-trigger, .review-icon.d-none, .icons-small-devices.d-none{
    display: block !important;
}


/*==========.header-style================*/
.header-top {
    margin-left: 0;
}
.single-header-top {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
    padding: 7px 0px 7px 0;
}
.logo img {
    max-width: 150px;
}
.header-area, .logo {
    min-height: 60px;
}
.menu-trigger {
    left: 0;
}
.wid45 {
    width: 100%;
    order: 1;
    padding-left: 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: 37px;
}
.wid55 {width: 100%;}
.icons-small-devices a {
    color: #696969;
    font-size: 26px;
    /* padding: 17px; */
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #696969;
    border-radius: 50%;
    text-align: center;
    margin: 11px 0 0 5px;
    line-height: 41px;
}
.icons-small-devices {
    float: right;
}





/*==========.footer-style================*/
.disflex {
    display: flex;
}
.ordertwo {
    order: 2;
}
.orderone {
    order: 1;
}
.newsletter-signup {
    min-height: 280px;
}
.newsletter-signup {
    padding-left: 0;
    padding-top: 30px;
}
.footer-widget-left {
    min-height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.footer-widget-left, .newsletter-signup {
    text-align: center;
}
.footer-widget-left .logo {
    margin-bottom: 30px;
}
.newsletter-signup {
    min-height: 280px;
}
.newsletter-signup {
    padding-left: 0;
    padding-top: 30px;
}
.footer-widget-left {
    min-height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.wid40 {width: 40%;}
.wid60 {width: 60%;}
.footer-area .text-right p {
    margin: 17px 0px 0 0;
}
.wid50 {width: 50%;}
.quick-links {
    text-align: left;
    margin-left: 86px;
}
.newsletter-signup, .footer-widget-left {
    position:  relative;
}
.newsletter-signup:before, .newsletter-signup:after, .footer-widget-left:after, .footer-widget-left:before {
    position:  absolute;
    top: 0;
    width: 1000px;
    height:  100%;
    background-color:  #272727;
    content:  "";
}
.newsletter-signup:before, .footer-widget-left:before {
    left: -998px;
}
.newsletter-signup:after, .footer-widget-left:after {
    right: -998px;
}
.footer-widget-left:after {
    left: 344px;
}
.footer-widget-left:after {
    left: inherit;
}
.footer-widget-left:after, .footer-widget-left:before {
    background-color: #2C2C2C !important;
}



}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
/*==========.default-style================*/
.off-canvas-menu, .menu-trigger, .review-icon.d-none, .icons-small-devices.d-none{
    display: block !important;
}
.white-bg:after, .gray-bg:after{
    display: none;
}


/*==========.header-style================*/
.header-top {
    margin-left: 0;
}
.single-header-top {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
    padding: 7px 0px 7px 0;
}
.menu-trigger {
    top: 30px;
}
.wid45 {
    order: 1;
    padding-left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 37px;
}
.wid55 {
    width: 100%;
}
.icons-small-devices a {
    color: #696969;
    font-size: 30px;
    /* padding: 17px; */
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid #696969;
    border-radius: 50%;
    text-align: center;
    margin: 19px 0 0 8px;
    line-height: 47px;
}
.icons-small-devices {
    float: right;
}



/*==========.footer-style================*/
.footer-widget-left, .newsletter-signup {
    text-align: center;
}
.footer-widget-left .logo {
    margin-bottom: 30px;
}
.disflex {
    display: flex;
}
.ordertwo {
    order: 2;
}
.orderone {
    order: 1;
}
.newsletter-signup {
    min-height: 280px;
}
.newsletter-signup {
    padding-left: 0;
    padding-top: 30px;
}
.footer-widget-left {
    min-height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.quick-links {
    text-align: left;
    margin-left: 120px;
}
.newsletter-signup, .footer-widget-left {
    position:  relative;
}
.newsletter-signup:before, .newsletter-signup:after, .footer-widget-left:after, .footer-widget-left:before {
    position:  absolute;
    top: 0;
    width: 1000px;
    height:  100%;
    background-color:  #272727;
    content:  "";
}
.newsletter-signup:before, .footer-widget-left:before {
    left: -998px;
}
.newsletter-signup:after, .footer-widget-left:after {
    right: -998px;
}
.footer-widget-left:after {
    left: 344px;
}
.footer-widget-left:after {
    left: inherit;
}
.footer-widget-left:after, .footer-widget-left:before {
    background-color: #2C2C2C !important;
}


}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
/*==========.default-style================*/
.white-bg:after, .gray-bg:after {
    bottom: -47px;
}

/*==========.header-style================*/
.header-top {
    margin-left: 0;
}
.mainmenu ul li a {
    padding: 2px 18px;
}
.mainmenu ul li.mega-menu > ul {
    width: 960px;
    margin-left: -240px;
}
.usedcarlogo {
    width: 98px;
}
.usedcarlogo img {
    max-width: 95px;
}
.fnccar {
    width: 47%;
}
.megamenu-content {
    width: 71.9%;
}
.vehicles-details {
    width: 28.1%;
}



/*==========.footer-style================*/
.footer-widget-left:after {
    left: -4999px;
}
.newsletter-signup:after {
    right: -4999px;
}



}