/*==============================================================================
 all other css definitions for the header and footer (including font families)
===============================================================================*/


.breadcrumb-text {
    font-size: 17px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.breadcrumb-text a {
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
}



/*
=========.header-top-area==========
*/

.single-header-top {
    padding-right: 20px;
    margin-right: 20px;
    padding: 7px 20px 7px 0;
    font-size: 15px;
}
.single-header-top:last-child {
    border-right: 0;
}
.single-header-top.header-social-icons a:first-child {
    margin-right: 30px;
}
.single-header-top img {
    margin-bottom: 4px;
    margin-right: 5px;
}
.logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
	min-height: 70px;
}
.logo img {
    max-width: 285px;
    max-height: 80px;
	width:100%;
}

.header-area {
    min-height: 80px;
}

/*
=========.mainmenu==========
*/
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu ul > li {
    display: inline-block;
    position: relative;
    z-index: 9;
    padding: 24px 0;
}
.mainmenu ul li a {
    font-size: 19px;
    display: block;
    padding: 2px 26px;
}



/*
=======Mega Menu=======
*/
.megamenu-content {
    width: 76%;
}
.mainmenu li li a {
  display: block;
}

.mainmenu li ul {
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    text-align: left;
    top: 80px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    visibility: hidden;
    width: 250px;
    z-index: 99;
}
.mainmenu li:hover ul {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    z-index: 999;
}
.mainmenu ul li ul li {
    display: block;
}
.mainmenu ul li.mega-menu {
    position: static;
}
.mainmenu ul li.mega-menu > ul {
    width: 1140px;
    margin-left: -285px;
}
.mainmenu ul li.mega-menu ul ul {
    left: auto;
    position: relative;
    top: auto;
    width: 100%;
}
.mainmenu ul li ul li {
    border-right: 0;
    padding: 0 !important;
}
.mainmenu ul li ul li a {
    padding: 10px 20px;
    border-right: 0 !important;
}
.mainmenu ul li.mega-menu ul {
    padding: 10px;
    z-index: 99999999999;
}
.mainmenu ul li.mega-menu > ul:after {
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    content: "";
    left: 39.1%;
    top: 0px;
}



.vehicles-details {
    margin-top: 56px;
    width: 23.6%;
}
.vehicles-details {
    padding: 9px;
    border-radius: 5px;
}
.single-ourcar-carousel {
    padding: 15px;
    border-radius: 5px;
}
.single-ourcar-carousel .carphoto, .vehicles-details .carphoto  {
    margin-bottom: 10px;
}
.single-ourcar-carousel img, .vehicles-details img {
    border-radius: 5px;
    max-width: 244px;
    max-height: 183px;
}
.single-ourcar-carousel h3, .vehicles-details h3 {
    font-size: 20px;
}
.pricefrm-text h3 {
    font-weight: 400;
    font-size: 20px;
    position: relative;
}
.single-ourcar-carousel h3 span, .vehicles-details h3 span {
    font-weight: 400;
}
.single-ourcar-carousel h3 span.carprice, .vehicles-details h3 span.carprice {
    display: block;
}
.ourcar-carousel-wrap .boxed-btn {
    padding: 0px 20px;
}


.vehicles-details .single-car-bg {
    margin-bottom: 7px;
}
.single-megamenu-item h3 {
    font-size: 20px;
    padding-bottom: 10px;
}
.usedcarlogo {
    height: 110px;
    width: 110px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
}
.usedcarlogo a {
    padding: 0 !important;
    border: 0 !important;
}
.usedcarlogo:last-child {
    border-right: 0;
}
.usedcarlogo img {
    max-width: 100px;
    max-height: 80px;
}
.usedcarlogo-row .border-none {
    border-bottom: 0;
}
.bodytype-list ul {
    padding: 0 !important;
    padding-left: 30px !important;
}
.bodytype-list ul li a {
    padding: 1px 0 1px 0 !important;
}
.single-megamenu-item.bodytype-list h3 {
    padding-left: 30px;
}
.single-megamenu-item.menufnc h3 {
    margin-right: 30px;
}
.single-megamenu-finance .upto-text {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    text-align: center;
    margin-left: 10px;
}
.upto-text {
    position: absolute;
    left: 50%;
    bottom: -36px;
    width: 90px;
    height: 90px;
    font-size: 20px;
    border-radius: 50%;
    line-height: 23px;
    font-weight: 600;
    margin-left: -45px;
    padding-top: 9px;
    text-transform: uppercase;
}
.upto-text span {
    display: block;
    font-size: 28px;
}
.single-megamenu-finance {
    margin-bottom: 15px;
}
.single-megamenu-finance img {
    max-width: 105px;
}
.fnccar {
    width: 40%;
}
.vehicles-details .boxed-btn {
    display: inline-block;
}

/* off canvas menu style */
.off-canvas-menu {
    height: 10000px;
    padding: 20px;
    position: absolute;
    width: 300px;
    margin-left: -300px;
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 9999999999999999999999999999999;
}
.off-canvas-menu.active{margin-left:0;}
.off-canvas-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.off-canvas-menu ul li a {
    display: block;
    padding: 10px 0;
}
span.menu-close {
    cursor: pointer;
    padding: 9px 20px 20px 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.off-canvas-menu ul {
    padding-top: 20px;
}
.off-canvas-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all .2s;
    transition:all .2s;
}
.off-canvas-overlay.active{
    z-index:99999;
    opacity:.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.menu-trigger span {
    display: block;
    height: 3px;
    margin-bottom: 5px;
    width: 30px;
}
.menulogo img {
    width: 200px;
}
.menulogo {
    text-align: center;
    margin-bottom: 10px;
}
.mobile-search-box input[type="text"] {
    width: 100%;
    padding: 10px;
}
.mobile-search-box {
    position: relative;
}
.mobile-search-box button[type="submit"] {
    border-radius: 0;
    padding: 3px 12px;
    position: absolute;
    top: 0;
    right: 0;
}
.megamenu-bottom{
    margin-top: 30px;
    font-size: 18px;
}
.megamenu-social-icons a{
    display: inline-block;
    margin-right: 20px;
    padding: 7px 7px 7px 0;
}
.menu-trigger {
    position: absolute;
    left: 15px;
    top: 20px;
    z-index: 999;
}
.off-canvas-menu, .menu-trigger{display: none;}






/*==========.footer-widget + footer-area=============*/
.footer-widget-left {
    padding-top: 17px;
}
.newsletter-signup {
    padding-left: 80px;
    padding-top: 90px;
}
.quick-links h5 {
    font-size: 15px;
}
.quick-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.quick-links  a {
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
}
.quick-links {
    font-size: 15px;
}
.quick-links ul li {
    margin-bottom: 8px;
}

.quick-contact {
    padding-top: 20px;
}
.newsletter-signup h4 {
    font-size: 19px;
    margin-bottom: 5px;
}
.newsletter-signup, .footer-widget-left {
    min-height: 365px;
}
.address p {
    margin-bottom: 8px;
}
.quick-contact a {
    margin-bottom: 7px;
    display: block;
}
.widget-social-icons a {
    font-size: 26px;
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 59px;
    margin-right: 10px;
    margin-top: 45px;
    -webkit-transition: .3s;
    transition: .3s;
}
.footer-widget-left, .newsletter-signup {
    position: relative;
}
.newsletter-signup:after{
    right: -5000px;
}
.footer-widget-left:after{
    left: -5000px;
}
.footer-widget-left:after, .newsletter-signup:after {
    position: absolute;
    top: 0;
    width: 5000px;
    height: 100%;
    content: "";
}
.signup-form input[type="email"] {
    border: 0;
    padding: 10px;
    width: 360px;
    border-radius: 5px;
}
.signup-form button[type="submit"] {
    border: 0;
    padding: 14px 15px;
    line-height: 14px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}
.signup-form {
    display: inline-block;
    border-radius: 5px;
    position: relative;
}
.footer-area {
    font-size: 14px;
    padding: 20px 0;
}
.footer-area .text-right p {
    margin: 10px 0px 0 0;
}
.footer-widget-area {
    overflow: hidden;
}
.footer-widget-left .logo {
    height: 76px;
}
div#ahq_footer {
    position: relative;
}
.scroll-top {
    position: absolute;
    left: 50%;
    top: 7px;
    z-index: 91;
    margin-left: -30px;
    width: 60px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

/*=========sticker css========*/
.sticker {
    position:  absolute;
    left: 5px;
    top: 5px;
    width:  65px;
    height:  65px;
    border-radius:  50%;
    text-align:  center;
    font-size:  17px;
    line-height: 17px;
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:  flex;
    -webkit-box-pack:  center;
        -ms-flex-pack:  center;
            justify-content:  center;
    -webkit-box-orient:  vertical;
    -webkit-box-direction:  normal;
        -ms-flex-direction:  column;
            flex-direction:  column;
}
.sticker img {
    max-width: 82px;
    border-radius: 50%;
}

