/*========================================================================
   all other css definitions for the home page (including font families)
==========================================================================*/

/*========Background Images of Main Slider===========*/

/*
.slider-bg-1{background-image: url(/img/home1.jpg);}
.slider-bg-2{background-image: url(/img/home1.jpg);}
.slider-bg-3{background-image: url(/img/home1.jpg);}
.slider-bg-4{background-image: url(/img/home1.jpg);}
.slider-bg-5{background-image: url(/img/home1.jpg);}
*/

/*============Background Image of Deposit Content===========*/
.deposit-bg-1 {background-image: url(img/deposit-bg.jpg);}

/*=============Background Image of Review Content=============*/
.review-bg{background-image: url(img/review-bg-1.jpg);}




/*=========.slider==========*/
.searchboxbanner{position: relative;}

.single-slider h2 {
    font-weight: 300;
    font-size: 43px;
    margin-bottom: 20px;
}

.single-slider p {  margin-bottom: 30px; }

.banner-area, .single-slider {
    height: 550px;
    position: relative;
}
.single-slider {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}
.single-slider .d-table-cell {
    vertical-align: middle;
}
.single-slider:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.slide-text {
    position: relative;
    z-index: 2;
    padding: 20px;
    margin-top: 76px;
	width:fit-content;
}
.slide-text:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    border-radius: 5px;
}


/*==========.search-box-wrap=============*/
.search-box-area {
    position: absolute;
    left: 0;
    top: 379px;
    width: 100%;
    z-index: 99;
}
.search-box-wrap {
    padding: 35px 20px 25px 20px;
    border-radius: 0 5px 5px 5px;
}
.search-content-left {
    width: 48%;
}
.search-content-right {
    width: 52%;
    position: relative;
}
.single-dropdown-item select {
    margin-right: 10px;
    width: 225px;
}
.margin-btm40 {
    margin-bottom: 40px;
}



.search-content-right button[type="submit"] {
    background: none;
}
.search-content-right button[type="submit"] {
    background: none;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -28px;
    padding: 0px 23px;
    
}
.search-content-right button[type="submit"] {
    -webkit-transition: .3s;
    transition: .3s;
}
.search-content-right button[type="submit"] i.fa {
    margin-left: 5px;
}
.tab-list {
    padding: 0;
    margin: 0;
}
.tab-list li a {
    padding: 8px 30px;
    display: block;
    font-size: 19px;
    border-radius: 5px 5px 0 0;
    margin-right: 10px;
    position: relative;
}
.tab-list li a i.fa {
    margin-left: 5px;
    font-size: 22px;
    -webkit-transition: .3s;
    transition: .3s;
    position: absolute;
    right: 13px;
    top: 12px;
}
.tab-list li a.active i.fa {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}



/*===========Range Slider CSS============*/
.range-slider-wrap .irs-from {
  top: 56px;
  background: transparent;
  font-size: 22px;
  left: 21% !important;
}
.range-slider-wrap .irs:after {
    position: absolute;
    left: 49.5%;
    top: 33px;
    width: 1px;
    height: 48px;
    content: "";
}
.range-slider-wrap .irs-from:after {
    left: 38px;
    content: "Min";
	font-size: 16px;
}
.range-slider-wrap .irs-to:after {
    content: "Max";
    left: 7px;
	font-size: 16px;
}
.range-slider-wrap .irs-from:after, .range-slider-wrap .irs-to:after {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -22px;
    border: 0;
}
.range-slider-wrap .irs-from:before {
    left: -7px;
}
.range-slider-wrap .irs-to:before {
    left: -7px;
}
.range-slider-wrap .irs-to {
  top: 56px;
  left: 56% !important;
  background: transparent;
  font-size: 22px;
}
.range-slider-wrap .irs-line-left, .range-slider-wrap .irs-line-mid, .range-slider-wrap .irs-line-right {
  height: 2px !important;
}
.range-slider-wrap {
  height: 90px;
  width: 300px;
}
.range-slider-wrap .irs-max, .range-slider-wrap .irs-min {
  display: none;
}
.range-slider-wrap .irs-slider.from, .range-slider-wrap .irs-slider.to, .range-slider-wrap .irs-single {
    width: 20px;
    height: 20px;
    border-radius: 50% !important;
    top: 15px;
	z-index: 6;
}
.range-slider-wrap .irs-bar {
    height: 2px !important
}





/* Rounded sliders */
.switch {
    display: inline-block;
    height: 22px;
    position: relative;
    width: 48px;
}
.switch input {display:none;}
.slider {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.slider:before {
  bottom: 4px;
  content: "";
  height: 14px;
  left: 4px;
  position: absolute;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 14px;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.payment-method {
    margin-left: 6px;
}
.inlined-text {
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
}


/*======.make carousel======*/

.logo-carousel-wrap img, .owl-carousel .owl-item .logo-carousel-wrap img {
    width: auto;
    margin: 0 auto;
    max-height: 80px;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
    
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    max-width: 100px;
}
.logo-carousel-wrap img:hover, .owl-carousel .owl-item .logo-carousel-wrap img:hover {
    -webkit-filter: none;
            filter: none;
}
.logo-carousel-wrap {
    height: 95px;
    width: 100%;
}
.single-logo-carousel .owl-item{
    position: relative;
}
div#ahq_bodyTypes {
    min-height: 197px;
}

.single-logo-carousel .owl-item:hover {
    background-color: #fff
}
.logo-carousel-item {
    vertical-align: middle;
}
.logo-carousel-area {
    margin-top: 83px;
    min-height: 95px;
}
.single-logo-carousel .owl-item {
    border-right: 1px solid #7E7E7E
}
.single-logo-carousel .owl-item:not(.active) +  .owl-item.active{
   border-right: 1px solid transparent
}




/*======.bodytype-carousel-wrap======*/

.bodytype-carousel-wrap {
    height: 180px;
    width: 100%;
    text-align: center;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
}
.bodytype-carousel-item {
    vertical-align: bottom;
}
.owl-carousel .owl-item .bodytype-carousel-wrap img {
    max-height: 89px;
    margin: 0 auto;
    max-width: 178px;
}
.single-bodytype-carousel {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 2px;
}
.bodytype-carousel-wrap p {
    margin-bottom: 32px;
    margin-top: 5px;
}
.bodytype-carousel-wrap:hover:after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 14px;
}
.bodytype-carousel-wrap:hover:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: "\f067";
    width: 35px;
    height: 35px;
    z-index: 9;
    font-family: fontawesome;
    border-radius: 50%;
    padding: 3px 1px 0 1px;
    margin-left: -17px;
}
.single-bodytype-carousel:after {
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 100%;
    height: 1px;
    content: "";
    z-index: -1;
}

.view-btn {
    text-align: center;
}
.view-btn .boxed-btn, .finance-range-slider button[type="submit"] {
    min-width: 185px;
}



/*=======.features carousel=======*/
.section-title h2 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
}
.section-title.ourcar-title h2 {
    margin-bottom: 35px;
}


.pricefrm-text h3 span {
    font-weight: 600;
    font-size: 28px;
}


.pricefrm-text h3 span.finAvail { font-size:20px }


.share-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 0 0 0;
    padding: 6px 0 0 10px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 20px;
}
.permonth {
    line-height: 11px;
    font-size: 13px;
    margin: 0;
    position: absolute;
    right: -41px;
    top: 6px;
}
.pricefrm-text {
    position: relative;
    display: inline-block;
}
.view-btn.ourcar-view-btn .boxed-btn {
    margin-bottom: 55px;
    margin-top: 40px;
}
.ourcar-carousel-wrap .owl-dots {
    margin-top: 25px;
}



/*=====.car-finance-area======*/
.car-finance-area .section-title {
    padding-bottom: 50px;
}
.finance-range-slider h3 {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 40px;
}
.finance-slider {
    width: 500px;
    margin: 0 auto;
}
.finance-range-slider button[type="submit"] {
    margin-top: 30px;
    margin-bottom: 40px;
}
.single-car250 {
    position: relative;
    width: 33.333333%;
}

.carlogo {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    margin-top: 90px;
}
.single-carlogo {
    margin: 0 30px;
}
.section-padding {
    padding-bottom: 80px;
    padding-top: 105px;
}
.single-car250 {
    height: 150px;
}
.single-car250 .d-table-cell {
    vertical-align: bottom;
}
.single-car250 img {
    max-height: 150px;
}

/*======Range Slider-2=======*/
.range-slider-2 .irs-line-left, .range-slider-2 .irs-line-mid, .range-slider-2 .irs-line-right, .range-slider-2  .irs-bar{
    height: 3px !important; 
}
.range-slider-2 .irs-from, .range-slider-2 .irs-to, .range-slider-2 .irs-single {
    font-size: 23px;
    line-height: 32px;
    background: none;
    font-weight: 600;
    z-index: 7;
}
.irs-from:after, .irs-to:after, .irs-single:after{border: 0;}
.range-slider-2 .irs-from:before, .range-slider-2 .irs-to:before, .range-slider-2 .irs-single:before {
    content: "";
    bottom: -31px;
    left: 13px;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background-image: url(/img/w-plus-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.range-slider-2 .irs-from, .range-slider-2 .irs-to, .irs-single {
    top: -24px;
}
.range-slider-2 .irs-min, .range-slider-2 .irs-max {
    font-size: 23px;
    top: -22px;
    background: none;
    font-weight: 600;
}
.range-slider-2 .irs-max:before {
    content: "\f067";
    position: absolute;
    top: 8px;
    font-size: 14px;
    font-weight: normal;
    right: -10px;
    font-family: fontawesome;
}
.range-slider-2 .irs:after, .range-slider-2 .irs:before {
    position: absolute;
    width: 28px;
    height: 28px;
    content: "";
    border-radius: 50%;
    z-index: 5;
}
.range-slider-2 .irs:after {
    left: -8px;
    top: 50%;
    margin-top: -13px;
}
.range-slider-2 .irs:before {
    right: -7px;
    top: 50%;
    margin-top: -13px;
}
.range-slider-2  .irs-min {
    left: -30px;
}
.range-slider-2  .irs-max {
    right: -7px;
}








/*========.service-area==========*/
.service-area .section-title {
    margin-bottom: 50px;
}
.deposit-bg {
    background-size: cover;
    background-position: center;
    height: 420px;
    font-size: 19px;
}
.deposit-bg h2 {
    font-size: 50px;
    line-height: 43px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 169px;
}
.deposit-bg h2 span {
    position: absolute;
    left: -173px;
    top: 23px;
    font-size: 120px;
}
.single-service-box {
    padding: 15px;
    min-height: 420px;
}
.single-service-box .boxed-btn {
    min-width: 185px;
    margin-top: 15px;
}
.minheight550{
    min-height: 550px;
}
.carad-left img {
    margin-bottom: 15px;
}
.carad-left h3 {
    font-size: 22px;
    margin-bottom: 15px;
}
.carad-left {
    width: 51%;
    padding-right: 10px;
}
.carad-right {
    width: 49%;
    margin-top: 73px;
}
.carad-left .prctag {
    margin: 0px 0 -8px;
    font-size: 31px;
    font-weight: 600;
    display: block;
}

.single-carad-carousel img {
    border-radius: 5px;
}
.carad-right .owl-dots {
    margin-top: 30px;
}

.company-info h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.company-info h3 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.info-img {
    width: 30%;
}
.info-more-text {
    width: 70%;
    margin-left: 20px;
}
.info-img img {
    border-radius: 50%;
}
.company-info {
    padding-top: 70px;
}
.review-content-left {
    width: 48%;
    padding-top: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.review-content-right {
    width: 52%;
}
.paper-icon {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 24px;
    margin-bottom: 30px;
}
.reevoo {
    margin-top: 40px;
}
.paper-icon h3 {
    font-size: 27px;
    margin: 12px 0 0 0;
}

.review-content-right {
    background-size: cover;
    background-position: center;
}
.single-service-box.review-content {
    padding: 0;
    overflow: hidden;
}

.review-carousel-wrap h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.single-review-carousel {
    text-align: center;
    font-size: 17px;
    padding: 0 20px;
    width: 100%;
    min-height: 550px;
}
.review-content .owl-dots {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    width: 100%;
}
.ratings span {
    margin: 0 5px;
    cursor: pointer;
    font-size: 18px;
}
.plus-icon {
    position: absolute;
    right: 25px;
    bottom: 20px;
    cursor: pointer;
    z-index: 9;
}
.review-content-right{
    position: relative;
    z-index: 2;
}
.review-content-right:after {
    position: absolute;
    left: 0;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    top: 0;
}
.review-carousel-wrap {
    vertical-align: middle;
}




/* Slider Dock Effect */
/*======.round-style========*/
.range-slider-wrap .irs:before {
    right: 0px;
    top: 50%;
    margin-top: -10px;
}
.range-slider-wrap .irs:after, .range-slider-wrap .irs:before {
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    border-radius: 50%;
    z-index: 5;
}
.range-slider-wrap .irs:after {
    left: 0px;
    top: 50%;
    margin-top: -10px;
}


.range-slider-wrap .irs-to:before {
    position: absolute;
    left: -21px;
    top: -21px;
    width: 1px;
    height: 48px;
    content: "";
}