/*========================================================================
   all other css definitions for the contact page (including font families)
==========================================================================*/

.breadcrumb-text {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.breadcrumb-text a {
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
}


.pricefrm-text {
    position: relative;
    display: inline-block;
}
.pricefrm-text h3 span {
    font-weight: 600;
    font-size: 28px;
}
.permonth {
    line-height: 11px;
    font-size: 13px;
    margin: 0;
    position: absolute;
    right: -41px;
    top: 6px;
}



.contact-form-wrap {
    padding: 40px 0 80px;
}
.contact-text h2 {
    font-size:  37px;
    font-weight:  400;
    margin-bottom:  5px;
}
.contact-text h3 {
    font-size:  32px;
    font-weight:  400;
}
.contact-text {
    margin-bottom:  30px;
    margin-top: 30px;
}
#googleMap {
    height:  460px;
}
.single-map-text h2 {
    font-size:  34px;
}
.business-1 h4, .business-2 h4 {
    font-size:  21px;
    margin-bottom: 3px;
}
.business-1, .business-2, .business-1 a,  .business-2 a {
    font-size:  19px;
    transition:  .3s;
}
.business-2 {
    margin-top: 50px;
}
.single-map-text.form-wrapper {
    padding: 25px 15px 20px;
    border-radius: 5px;
    margin-top: -120px;
}
.single-map-text.form-wrapper h2 {
    margin-bottom:  10px;
}
.form-wrap input, .form-wrap select, textarea {
    width:  100%;
}
.form-wrap p, .form-wrap select {
    margin-bottom: 10px;
}
.form-wrap textarea {
    height:  120px;
}
.captcha {
    margin: 18px 0 20px 0;
    cursor: pointer;
}
.captcha img {
    border-radius: 5px;
}
.form-wrap button[type="submit"] {
    padding: 1px 30px;
}
.single-map-text.map-right {
    padding-left:  80px;
}
.live-chat h2 span i.fa {
    font-size: 28px;
}
.live-chat .boxed-btn {
    min-width: 180px;
}
.live-chat {
    margin-top: 50px;
}

.live-chat {
    margin-top: 50px;
}
.single-map-text.map-right table
 tr td:nth-child(1) {
    padding-right: 20px;
}
.single-map-text.map-right p {
    font-weight:  600;
}
.live-chat p {
    font-weight:  normal !important;
}
.map-round-img img {
    max-width:  280px;
    max-height:  280px;
    margin-top: -540px;
}


.contact-number2 { margin-top:20px }