/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    margin:0 0 15px;
    color: #464646;
    text-transform: uppercase;
}
body {
    font-size: 14px;     /* It will be change */
    font-weight: 400;
    line-height: 26px;      /* It will be change */
    font-family: 'Lato', sans-serif;   /* It will be change */
    letter-spacing: 1px;
    color: #666666;    /* It will be change */
}
a:hover { text-decoration: none }

.section-padding{
    padding: 80px 0px;
}
.section-title{
    text-align: center;
    margin-bottom: 60px
}