#popup2 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
}

.btn-nosleep {
  position: relative;
}
.btn-nosleep:after {
  position: absolute;
  content: "";
  left: -12px;
  top: -12px;
  background-color: #fff;
  width: 88px;
  height: 58px;
  z-index: -1;
}
