/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }

.section-padding {
  padding: 100px 0px;
}
.pricing-table {
  overflow: hidden;
  padding:20px;
}
.single-pricing-box {
  float: left;
  width: 33.3333%;
  box-shadow: 0 0 10px #f3f3f3;
  background: #fff;
  margin-top: 30px;
  z-index: 1;
  position: relative;
  border-radius: 4px
}
.pricing-heading {
  background: #f9f9f9;
  padding: 40px;
  color: #898888;
  font-size: 16px;
}
.pricing-heading h4 {
  font-size: 30px;
  color: #888;
  font-weight: 400;
}
.pricing-heading h1 {
  color: #333;
  font-size: 50px;
  font-weight: 400;
}

.pricing-content {
  padding: 60px;
}
.pricing-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 2;
}
body {
  color: #737678;
  line-height: 1.7;
}
.pricing-btn {
  color: #f91942;
  border: 1px solid #f91942;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 30px;
  font-weight: 700;
  text-transform: capitalize;
  transition: .5s
}
.pricing-btn:hover {
    color: #333
}
.active .pricing-heading::after {
    content: "Featured";
    position: absolute;
    right: -40px;
    top: 20px;
    color: #f91942;
    background: #fff;
    transform: rotate(45deg);
    font-size: 14px;
    padding: 5px 50px;
}
.active .pricing-heading {
    background: #f91942;
    color: #fff;
    margin-top: 0px;
}
.single-pricing-box.active {
    position: relative;
    z-index: 2;
    margin-left: -.5%;
    margin-right: -.5%;
    overflow: hidden;
    margin-top: 0;
}
.active a.pricing-btn {
    background: #f91942;
    color: #fff;
}
.active .pricing-heading h4, .active .pricing-heading h1 {
    color: #fff;
}
.single-pricing-box.active .pricing-content {
  padding-bottom: 130px;
}