/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    margin:0 0 15px;
}
body {
    font-size: 14px;     /* It will be change */
    font-weight: 400;
    line-height: 26px;      /* It will be change */
    font-family: 'Lato', sans-serif;   /* It will be change */
    color: #666666;    /* It will be change */
}
a:hover { text-decoration: none }

.section-padding{
    padding: 80px 0px;
}
.section-title{
    text-align: center;
    margin-bottom: 60px
}


.header-area {
    padding: 15px 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.mainmenu ul li {
    display: inline-block;
}
.mainmenu ul li a {
    display: block;
    padding: 7px;
    padding-right: 0;
    padding-left: 30px;
    color: #fff;
    transition: .3s;
    font-size: 16px;
    font-weight: 700
}
.mainmenu ul li a:hover {
    color: #e6ad21
}

.homepage-slides{
    background-color: #263238;
    color: #fff
}
.slide-text h2 {
    color: #e6ad21;
    font-size: 38px;
    line-height: 50px;
}

.single-slide-item .row {
  position: relative;
}
.single-slide-item .slide-img-right {
  position: absolute;
  bottom: 0;
  right: 15px;
  max-height: 470px;
}
.slide-text {
    padding: 150px 0px; 
}
.slide-text .slide-readmore-btn {
    display: inline-block !important;
    color: #e6ad21;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    transition: .3s;
    margin-top: 20px;
    border: 1px solid #fff;
}
.slide-text .slide-readmore-btn:hover {
    color: #fff
}
.slide-text .slide-readmore-btn i.fa {
    padding-left: 5px
}
.owl-carousel .single-slide-item .slide-img-right {
    width: auto;
}
.owl-nav div {
    font-size: 24px;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 0%;
    padding: 10px;
    transition: .3s;
    opacity: 0
}
.owl-nav div.owl-next {
    left: auto;
    right: 0%;
}
.homepage-slides:hover .owl-nav div {
    left: 2%;
    opacity: 1
}
.homepage-slides:hover .owl-nav div.owl-next {
    right: 2%;
    left: auto
}