
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }
#myimg {
  width: 450px;
  height: 400px;
  transition: .3s
}
#myimg:hover {
  opacity: .5;
  cursor: pointer;
}
.s-modal {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    transition: .4s
}
.s-modal-content {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #888;
  width: 800px;
  margin: auto;
  margin-top: 80px;
  border-radius: 6px;
  position: relative;
}
.s-modal-content img {
  width: 100%;
}
.s-close {
  position: absolute;
  right: -30px;
  top: -30px;
  width: 25px;
  text-align: center;
  transition: .3s;
  color: #fff;
  font-size: 40px;
  height: 30px;
  line-height: 25px;
  text-align: center;
}
.s-close:hover {
    cursor: pointer;
    opacity: .8
}
#caption {
  text-align: center;
  color: #fff;
  margin-top: 10px
}









