/* Base CSS */

* {
    margin: 0;
    padding: 0;
    outline: 0;
}
a:focus {
    outline: 0 solid
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
body {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}
a:hover,
a:active,
a:focus {
    text-decoration: none
}
.section-padding {
    padding: 100px 0px;
}
/*****   MAin Css ******/
.welcome-hero-img {
    background-image: url(../img/blog-box-bg-6.jpg);
    background-position: center;
    background-size: cover;
    height: 509px;
    background-color: #ddd
}
.welcome-hero-img-sec {
    margin-bottom: 70px
}

.header--area {
    padding: 60px 0px
}
.logo {
    display: inline-block;
    padding-top: 7px
}
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu ul li {
    display: inline-block;
}
.mainmenu ul li a {
    display: block;
    color: #626262;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 90px;
    position: relative;
    line-height: 40px
}
.mainmenu ul li a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #666;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s;
    transition: .3s
}
.mainmenu ul li a:hover:after {
    text-decoration: none;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*******  Single Blog Background image   *******/
.blog-box-bg-1 {
    background-image: url(../img/blog-box-bg-1.jpg);
}
.blog-box-bg-2 {
    background-image: url(../img/blog-box-bg-2.jpg);
}
.blog-box-bg-3 {
    background-image: url(../img/blog-box-bg-3.jpg);
}
.blog-box-bg-4 {
    background-image: url(../img/blog-box-bg-4.jpg);
}
.blog-box-bg-5 {
    background-image: url(../img/blog-box-bg-5.jpg);
}
.blog-box-bg-6 {
    background-image: url(../img/blog-box-bg-6.jpg);
}
.blog-box-bg {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    height: 280px;
}
.categorry,
.comment {
    color: #b4ad9e;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.single-blog-box {
    margin-bottom: 130px;
    color: #626262;
    display: block;
}
.single-blog-box:hover {
    color: #626262
}
.blog-box-bg {
    -webkit-transition: .5s;
    transition: .5s
}
.single-blog-box:hover .blog-box-bg {
    -webkit-transform: scale(.9);
    transform: scale(.9);
}
.categorry {
    margin: 30px 0px
}
.full-blog-post p {
    margin-bottom: 30px
}
.newsletter-section {
    background-color: #f0f0f0;
    padding: 70px 0px
}
.newsletter-section h2 {
    margin-bottom: 60px;
    color: #333
}
.form-outer-area {
    display: block;
    margin: 0 auto;
    width: 30%;
    overflow: hidden;
}
input[type="email"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: currentcolor currentcolor #000;
    -o-border-image: none;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    padding: 5px 0;
    width: 90%;
    float: left;
    line-height: 22px;
}
button.submit {
    border: none;
    border-bottom: 1px solid #000;
    padding: 4px 10px;
    position: relative;
    float: left;
    background: none
}
button.submit:before {
    content: "\f1d9";
    font-family: fontawesome;
}
.newsletter-btm-blog-box .single-blog-box {
    margin-bottom: 70px
}
.load-more-button {
    border: 1px solid #000;
    color: #626262;
    font-size: 20px;
    padding: 20px 36px;
    display: inline-block;
    -webkit-transition: .3s;
    transition: .3s
}
.load-more-button:hover {
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    border-color: transparent;
    color: #222
}
.footer-area {
    background-color: #f0f0f0;
    padding: 35px 0px
}
.footer-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-area ul li {
    display: inline-block;
}
.footer-left a {
    margin-right: 20px;
    color: #000
}
.footer-social-link a {
    color: #000;
    margin-left: 5px;
}
.footer-social-link i.fa {
    -webkit-transition: .2s;
    transition: .2s;
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px
}
.footer-social-link i.fa-facebook:hover {
    color: #4867AA;
    border: 1px solid #4867AA;
}
.footer-social-link i.fa-twitter:hover {
    color: #1DA1F2;
    border: 1px solid #1DA1F2;
}
.footer-social-link i.fa-instagram:hover {
    color: #E85156;
    border: 1px solid #E85156;
}
.responsive-menu-wrap {
    display: none
}