/* Base CSS */

a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
body {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}
.blog-meta, .blog-readmore-btn{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #b4ad9e;
}
a:hover { text-decoration: none }



.logo {
    padding: 70px 0px
}
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu ul li {
    display: inline-block;
}
.mainmenu ul li a {
    display: block;
    color: #626262;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 90px;
    position: relative;
    padding: 70px 0px 
}
.blog-meta a {
    color: #b4ad9e;
}
.single-blog-item{
    padding-bottom: 120px
}
.single-blog-item img {
    width: 100%;
}
.single-blog-item h2 {
    margin: 20px 0 25px;
}
.single-blog-item h2 a {
    color: #626262;
}
.blog-box-content {
    margin-bottom: 30px;
}
.blog-box-content p:last-child{
    margin-bottom: 0px;
}
.blog-feature-content{
    margin-bottom: 30px
}
.big-blog-box .blog-feature-content {
    margin-bottom: 92px;
}

.newsletter-area {
  background: #F0F0F0;
  padding: 70px 0px;
  margin-bottom: 120px;
}
.newsletter-area h2 {
  margin-bottom: 50px;
}
.newsletter-form {
    max-width: 355px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}
.newsletter-form input {
    border: moccasin;
    background: transparent;
    width: 84%;
}
.newsletter-form input:focus{
    outline: 0
}
.newsletter-form button {
    border: none;
    padding: 6px 10px;
    background: none
}
.load-more-btn-wrap{
    margin-top: -30px
}
.load-more-btn {
    border: 1px solid #000;
    color: #626262;
    font-size: 20px;
    padding: 20px 36px;
    display: inline-block;
}

.footer-area {
    background: #f0f0f0;
    padding: 35px 0px;
    margin-top: 90px
}
.footer-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-left ul li {
    display: inline-block;
}
.footer-left ul li a {
    padding-right: 20px;
    color: #333;
}
.footer-area .text-right a {
    color: #333;
    padding-left: 15px;
}