/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }
.section-padding{
    padding: 80px 0px
}

.video-play-btn{
    display: table;
    height: 450px;
    width: 100%;
    background-size: 110%;
    background-position: center;
    background-color: #333;
    color: #fff;
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    transition:all .4s ease-in-out;
}
.video-play-btn:hover {
    background-size: 115%;
}
.video-play-btn:hover .video-overlay {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
            transform: scale(1);
}
.video-play-btn i.fa-play{
    background-color: #eb1c38;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
    padding-left: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.video-overlay {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  position: relative;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: scale(.8);
          transform: scale(.8);
}
.video-overlay:after{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(235, 28, 56, 0.6);
    z-index: -1;
}
.video-play-btn:hover {
  color: #fff;
}
.video-overlay .boxed-plus {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #fff;
    margin-bottom: 25px;
}
.video-top-desc {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}
.video-overlay h3 {
    font-size: 40px;
    margin: 20px;
}
.video-top-desc span {
    display: inline-block;
    position: relative;
}
.video-top-desc span:after, .video-top-desc span:before {
    position: absolute;
    content: "";
    top: 9px;
    background: #fff;
    width: 50px;
    height: 2px;
}
.video-top-desc span:after{
    left: -65px;
}
.video-top-desc span:before{
    right: -65px
}