/* Base CSS */
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    margin:0 0 15px;
    color: #464646;
    text-transform: uppercase;
}
body {
    font-size: 14px;     /* It will be change */
    font-weight: 400;
    line-height: 26px;      /* It will be change */
    font-family: 'Lato', sans-serif;   /* It will be change */
    letter-spacing: 1px;
    color: #666666;    /* It will be change */
}
a:hover, a:focus { text-decoration: none; outline: 0 }

.section-padding{
    padding: 80px 0px;
}

.project-title{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 50px
}
.row.project-lists {
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.row.project-lists .col-md-4 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.project-title li {
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 700
}
.project-title li.active {
    color:#01e9e3;
}

.single-project-item {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-bottom: 15px;
    overflow: hidden;
}
.single-project-item:hover .project-hover:after{
    opacity: .5;
    transform: scale(1);
}
.single-project-item:hover .project-hover h4{
    bottom: 30px;
    opacity: 1
}
.single-project-item:hover .project-hover .link{
    right: 20px;
    top: 20px;
    opacity: 1
} 
.project-bg-1{background-image: url(../img/1.jpg);}
.project-bg-2{background-image: url(../img/4.jpg);}
.project-bg-3{background-image: url(../img/2.jpg);}
.project-bg-4{background-image: url(../img/6.jpg);}
.project-bg-5{background-image: url(../img/9.jpg);}
.project-bg-6{background-image: url(../img/3.jpg);}
.project-bg-7{background-image: url(../img/3.jpg);}
.project-bg-8{background-image: url(../img/2.jpg);}
.project-bg-9{background-image: url(../img/1.jpg);}
.project-hover{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.project-hover:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
    z-index: -1;
    transition: .5s;
    transform: scale(0);
}
.project-hover h4 {
    position: absolute;
    bottom: -50%;
    left: 30px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    transition: .6s;
    opacity: 0;
}
.project-hover .link{
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    transform: rotate(-45deg);
    transition: .6s;
    opacity: 0
}
.project-hover span, .project-hover .link{
    color: #01e9e3
}
.project-hover span {
    display: block;
    font-size: 80%;
    margin-top: 10px
}
.row.project-lists .col-md-4:nth-child(2) .single-project-item,
.row.project-lists .col-md-4:nth-child(4) .single-project-item,
.row.project-lists .col-md-4:nth-child(5) .single-project-item{
    height: 615px
}