/*========================================================================
           colour definitions for the header and footer
==========================================================================*/

/*=====.header-top-area=======*/
.header-top-area {
    background-color: #0DA0F4;
}
.header-top-area, .header-top-area a {
    color: #fff;
}

/*=====.mainmenu=======*/
.mainmenu ul li a {
    color: #717171;
    border-right: 1px solid #E3E3E3;
}
.mainmenu ul li:last-child a {
    border-right: 0px solid #E3E3E3;
}
.mainmenu ul li:hover > a {
    color: #0DA0F4;
}
/*========.dropcown-style========*/
.mainmenu ul li ul {
    background: #333;
    margin: 0;
    text-align: center;
    top: 120px;
    left: 50%;
    margin-left: -115px;
    width: 230px;
}
.mainmenu ul li ul a {
    color: #fff;
    font-size: 17px;
    padding: 0;
    margin: 0;
    border: 0;
}
.mainmenu li:hover ul {
    top: 98px;
}
.mainmenu ul ul li:hover > a {
    background-color: #fff;
    border-bottom: 0;
}


/*=======Mega Menu + Off-canva menu=======*/
.mainmenu li ul {
    background-color: #fff;
}
.mainmenu ul li.mega-menu > ul {
    border-top: 8px solid #0DA0F4;
}
.off-canvas-menu {
    background-color: #F2F6F7;
}
.off-canvas-menu ul li a {
    border-bottom: 1px solid #E3E3E3;
    color: #484848;
}
span.menu-close {
    color: #0DA0F4;
}
.off-canvas-overlay {
    background-color: #000;
}
.menu-trigger span {
    background-color: #0DA0F4;
}
.mobile-search-box input[type="text"] {
    border: 1px solid #E0E0E0;
    box-shadow: inset 0 0 5px #ddd;
}
.mobile-search-box button[type="submit"] {
    background-color: #0DA0F4;
    color: #fff;
}
.megamenu-bottom{
    color: #0DA0F4;
}
.megamenu-social-icons a{
    color: #DD4F21;
}
.single-megamenu-item h3 {
    border-bottom: 1px solid #D9D9D9;
    color: #484848 !important;
}
.megamenu-content h3 {
    color: #0DA0F4;
}
.usedcarlogo {
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}
.upto-text {
    background-color: #0DA0F4;
    color: #fff;
}
.vehicles-details {
    border: 1px solid #D9D9D9;
}
.vehicles-details .boxed-btn {
    border-right: 1px solid #0DA0F4;
    color: #0DA0F4;
}
.pricefrm-text h3 {
    color: #484848;
}
.pricefrm-text h3 span {
    color: #0da0f4;
}


/*==========.footer-widget + footer area=============*/
.footer-widget-left {
    background-color: #2C2C2C;
}
.newsletter-signup {
    background-color: #272727;
}
.quick-links h5 {
    color: #d5d5d5;
}
.quick-links ul li:hover a, .quick-links a:hover {
    color: #0DA0F4;
}
.newsletter-signup h4 {
    color: #d5d5d5;
}
.footer-widget-area, .footer-widget-area a {
    color: #9c9c9c;
}
.footer-widget-left .logo h2 a {
    color: #0DA0F4;
}
.widget-social-icons a {
    color: #686868;
    border: 2px solid #686868;
}
.newsletter-signup:after{
    background-color: #272727;
}
.footer-widget-left:after{
    background-color: #2C2C2C;
}
.signup-form button[type="submit"] {
    background-color: #fff;
}
.signup-form button[type="submit"]:hover {
    background-color: #FFFFFF !important;
}
.signup-form {
    background-color: #fff;
}
.widget-social-icons a:hover {
    background-color: #0DA0F4;
    color: #fff;
    border-color: #fff;
}
.footer-area {
    background-color: #373737;
    color: #686868;
}




/*========================================================================================
   all css definitions for the header and footer (including font families) of Junction17
==========================================================================================*/

/*===========.header-style==============*/
.chat-btn {
    position:  absolute;
    right:  15px;
    top: 32px;
}
.chat-btn a {
    background-color:  #DF3239;
    color: #fff;
    font-size:  20px;
    font-weight:  700;
    border-radius:  50px;
    padding: 8px 17px;
}
.chat-btn a i.fa {
    margin-right:  10px;
}
/*=========.chat-box-2============*/
.chat-box.chat-box-2 {
    background-color: #DF3239;
    border-right: 0;
    padding: 0;
    z-index: 99999;
}
.chat-box.chat-box-2 a i.fa {
    width: inherit;
    height: inherit;
    background-color: #DF3239;
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    -webkit-transition: .3s;
    transition: .3s;
}
.chat-box.chat-box-2 a {
    color: #fff;
    margin-bottom: 0;
    padding: 7px 16px;
    border-bottom: 1px solid #C6282D;
}
.chat-box.chat-box-2 a:last-child{
    border-bottom: 0px solid;
}
.chat-box.chat-box-2 a:hover i.fa {
    background: none;
    color: #DF3239;
}
.chat-box.chat-box-2 a:hover {
    background-color: #fff;
    color: #C6282D;
}
.chat-box.chat-box-2 a span {
    line-height: 17px;
}

.chat-btn a i.fa{
    -webkit-animation-name: shake;
            animation-name: shake;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function:linear;
            animation-timing-function:linear;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}
@-webkit-keyframes shake{
    0%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px) 
    }
    100%{
        -webkit-transform: translateX(5px);
                transform: translateX(5px) 
    }
}
@keyframes shake{
    0%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px) 
    }
    100%{
        -webkit-transform: translateX(5px);
                transform: translateX(5px) 
    }
}

.header-wrap {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    position: relative;
    z-index: 99
}
.header-area-2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.single-slider h2 img {
    position: absolute;
    right: -36px;
    top: 8px;
}
.logo .d-table-cell {
    vertical-align:  middle;
}
.logo img {
    margin-left: 12px;
}

.mainmenu ul {
    margin-left: 30px;
}
.mainmenu ul li {
    padding: 0;
}
.mainmenu ul li a {
    font-size: 18.25px;
    padding: 6px 2px;
    margin: 28px 8px;
    border-bottom: 3px solid transparent;
    -webkit-transition: .3s;
    transition: .3s;
    border-right: 0;
    color: #484848;
}
.mainmenu ul li:hover > a {
    border-bottom: 3px solid #DF3239;
    color: #DF3239;
}

.contact-icons a {
    color:  #484848;
    font-size: 25px;
    border: 1px solid #484848;
    display:  inline-block;
    height:  44px;
    width:  44px;
    border-radius:  50%;
    text-align:  center;
    line-height: 43px;
    margin: 23px 0 0 10px;
    -webkit-transition: .3s;
    transition:  .3s;
}
.contact-icons a:hover {
    background-color:  #DF3239;
    color:  #fff;
    border-color:  #DF3239;
}
.contact-icons {
    position:  absolute;
    right:  17px;
    top: 0;
}



/*===========.footer-style===============*/
.footer-widget-area {
    background-color: #EFEFEF;
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 17px;
}
.footer-title {
    font-size:  29px;
    font-weight:  400;
    margin-bottom:  10px;
}
.footer-widget-area, .footer-widget-area a {
    color:  #484848;
}
.phone-number {
    font-size:  22px;
}
.footer-logo {
    margin-bottom: 40px;
    height: 80px;
}
.footer-logo .d-table-cell {
    vertical-align: middle;
}
.footer-logo img {
    max-width: 285px;
}
.quick-links ul li a {
    font-size: 17px;
}
.quick-links ul li {
    margin-bottom: 0px;
}
.quick-links ul li a:hover {
    color: #df3239;
}
.quick-links {
    width: 46%;
    padding-left:  10px;
}
.newsletter-signup {
    width: 54%;
    padding-left: 30px;
}
.newsletter-signup input[type="email"] {
    background-color: #fff;
    padding: 12px 10px;
    color: #949494;
    width: 100%;
    border: 0;
    border-radius: 5px;
}
.newsletter-signup button[type="submit"] {
    position: absolute;
    right: 0;
    top: -2px;
    padding: 6.5px 12px;
    border-radius: 0 5px 5px 0;
    background: none;
    line-height: 35px;
    border: 0;
}
.newsletter-signup button[type="submit"]:hover {
    background: none !important;
}
.signup {
    position:  relative;
}
.footer-widget-area .bld {
    font-weight: 600;
}
.footer-social-icons a {
    height:  44px;
    width:  44px;
    border:  1px solid #B2B2B2;
    display:  inline-block;
    border-radius:  50%;
    text-align:  center;
    font-size:  22px;
    color:  #B2B2B2;
    line-height: 45px;
    margin-right:  9px;
    -webkit-transition: .3s;
    transition:  .3s;
}
.footer-social-icons a:hover {
    background-color:  #DF3239;
    border-color:  #DF3239;
    color:  #fff;
}
.footer-social-icons {
    margin-top: 20px;
}
.footer-area {
    background-color:  #484848;
    color: #a4a4a4;
    font-size:  15px;
    padding: 10px 0;
}
.footer-area p {
    margin: 14px 0 !important;
}
.footer-area span {
    margin: 10px 0px;
    display: block;
}
.footer-area span img{
    margin-left: 5px;
}
.quick-links, .newsletter-signup {
    padding-top: 121px;
}
.newsletter-signup:after {
    position: relative;
}
.newsletter-signup {
    background-color: #EFEFEF;
}


/*======.off-canvase-menu=======*/
.off-canvas-menu {
    background-color: #F2F6F7;
}
.megamenu-bottom {
    color: #DF3239;
}
.mobile-search-box button[type="submit"] {
    background-color: #DF3239;
}
.off-canvas-overlay {
    background-color: #000;
}
span.menu-close {
    color: #DF3239;
}