/*========================================================================
               colour definitions for the car-details page
==========================================================================*/

.breadcrumb-text {
    color: #8c8c8c;
}
.breadcrumb-text a {
    color: #0DA0F4;
    border-right: 1px solid #D6D6D6;
}


.popup-icon a {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(119, 119, 119);
  color: rgb(72, 72, 72);
}
.popup-icon a:hover {
    background-color: #0DA0F4;
    color: #fff;
}

.cardetails-area {
    background-color: #F4F4F4;
    padding-bottom: 40px;
    padding-top: 20px;
}

.blue-bar {
    background-color: #0DA0F4;
    color: #fff;
}
.blue-bar .crossline {
    color: #004267;
}
.blue-bar .crossline:after {
    background-color: #004267;
}

.caradd-content {
    background-color: #fff;
    color: #6d6d6d;
}

.share-icons a {
    background-color: #E7E7E7;
    color: #858585;
}
.share-icons a:hover {
    background-color: #0DA0F4;
    color: #fff;
}
.caradd-content-right .boxed-btn.blue-btn {
    background-color: #0DA0F4;
    color: #fff;
}
.caradd-content-right .boxed-btn.blue-btn:hover:after {
    border-color: #0DA0F4;
    background-color: #fff;
}
.caradd-content-right .boxed-btn.blue-btn:hover {
    color: #0DA0F4;
}
.visible-on-mobile a {
    background-color: #F1F1F1;
    color: #2DADF8;
}
.visible-on-mobile a:hover {
    background-color:  #0DA0F4;
    color: #fff;
}

.car-slider-wrap {
    background-color: #fff;
}

.single-car-slider-bottom {
    color: #494949;
}
.single-car-slider-bottom i.fa {
    color: #0DA0F4;
}
.single-car-slider-bottom:hover{
    color: #0DA0F4;
}

.scroling-menu-area {
    background-color: #0DA0F4;
    box-shadow: -1px 6px 11px #3A87C5;
}

.scroling-menu-area ul li {
    border-right: 1px solid #383838;
    float: left;
}
.scroling-menu-area ul li a {
    color: #fff;
}
.scroling-menu-area .nav-tabs .nav-link {
    border-radius: inherit;
}
.scroling-menu-area .nav-tabs .nav-link.active {
    border: none;
    border-top: 2px solid #e03337
}
.scroling-menu-area .nav-tabs .nav-link.active:hover {
    border-top: 2px solid #e03337
}
.scroling-menu-area .nav-tabs .nav-link {
    border: inherit;
}
.scroling-menu-area .nav-tabs .nav-link:hover{
    border-color: inherit;
}


/*======.deposit-large-bg======*/
.deposit-large-bg .boxed-btn {
    border-color: #fff;
    color: #fff;
}
.deposit-large-bg-area {
    color: #fff;
}
.single-table {
    background-color: #fff;
}
.specification-area {
    background-color: #F4F4F4;
}
.single-table h3 {
    color: #0da0f4;
}

/*========.part exchange css==========*/
.exchange-area h1 {
    color:  #0da0f4;
}
.exchange-acc-body-mobile {
      color: #0da0f4;
}
#headingOne .exchange-acc-body-mobile  h2 {
    color: #0da0f4
}

/*=============Accordion=============*/
#headingOne a.exchange-acc-heading-desk {
  color: #0da0f4;
}
#headingOne a.exchange-acc-heading-mobile.collapsed {
    background-color: #464646;
}
#headingOne a.exchange-acc-heading-mobile {
    color: #fff;
}
#headingOne a.exchange-acc-heading-desk:hover {
  color: #0da0f4;
}


/*========.customer-review-area css==========*/
.customer-review-area {
    background-color: #0DA0F4;
}
.customer-review-area, .customer-review-area a {
    color:  #fff;
}
.customer-review-area .boxed-btn {
    border-color: #fff;
}
.customer-review-area .boxed-btn:hover:after, .deposit-large-bg .boxed-btn:hover:after {
    background-color:  #fff;
}
.customer-review-area .boxed-btn:hover, .deposit-large-bg .boxed-btn:hover, .caradd-content-right .boxed-btn.blue-btn:hover {
    color: #0DA0F4 !important;
}

/*============Accordion css============*/
#headingTwo a.cust-review-acc-heading-mobile {
  background: #0da0f4;
}
#headingTwo a.cust-review-acc-heading-mobile.collapsed {
    background-color: #464646; 
}
.card-body.cust-review-acc-body-mobile {
    background-color: #333
}

/*========.card-customization=========*/
.caradd-wrap .card-header {
    background: #F4F4F4;
}
.card.single-table {
    background-color: #fff;
}


.newsletter-signup:after{
    background-color: #272727;
}
.footer-widget-left:after{
    background-color: #2C2C2C;
}
.newsletter-signup:before{
    background-color: #272727;
}
.footer-widget-left:before{
    background-color: #2C2C2C;
}

/* specification-area */
.finance-accordion-heading-wrap a{
    color: #484848;
}
.finance-accordion-heading-wrap a.collapsed {
    background-color: #464646;
}
.finance-accordion-heading-wrap a{
    color: #fff;
    background-color: #0da0f4;
}

/*=========.scroll-top-style==========*/
.scroll-top-btn {
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 65px;
    line-height: 62px;
    position: fixed;
    right: 0;
    text-align: center;
    bottom: 100px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 56px;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.scroll-top-btn:hover {
    background-color: rgb(50, 45, 45);
}
.scroll-top-btn.show-scroll-btn {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}





/*========================================================================
   all css definitions for the contact page (including font families)
==========================================================================*/
.banner-bg-1{background-image: url(../img/banner-1.jpg);}

.innerpage-banner-area{
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    height: 300px;
}

.caradd-content-right img {
    margin-bottom: 10px;
}
.small-map-marker {
    font-size:  15px;
    margin-bottom: 10px;
}
.small-map-marker img {
    margin-right:  10px;
}
.caradd-text h2 {
    color:  #484848;
    font-size:  33px;
    line-height:  37px;
}
.caradd-text {
    font-size: 20px;
    color: #484848;
}
.car-slider-bottom {
    font-size:  15px;
    color:  #484848;
}
.share-text {
    margin-right:  60px;
}
.share-text ul {
    margin:  0;
    padding:  0;
    list-style:  none;
    margin-top: 7px;
}
.share-text ul li {
    display:  inline-block;
}
.share-text ul li a {
    display:  inline-block;
    color: #484848;
    background-color: #E7E7E7;
    width:  30px;
    height:  30px;
    text-align:  center;
    line-height: 31px;
    border-radius:  50%;
    font-size: 16px;
    margin-right: 7px;
    transition:  .3s;
}
.share-text ul li:hover a {
    background-color: #DF3239;
    color: #fff;
}
.warranty-text {
    text-align:  center;
}
.warranty-text p {
    margin-bottom: 8px;
}
.caradd-icons-row {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 80px;
    margin-top: 10px;
    text-align: left;
    align-items: inherit;
}
.single-add-icon {
    text-align: center;
}
.caradd-content {
    padding: 20px 15px 20px;
}
.savings {
    font-size:  21px;
    font-weight: 600;
}
.caradd-content-right {
    color: #484848;
}
.savings b {
    position:  relative;
}
.share-text .fa-share-alt {
    margin-right: 5px;
}
.savings b:after {
    position:  absolute;
    left:  0;
    top: 50%;
    width:  100%;
    height: 2px;
    background-color: #484848;
    content:  "";
    margin-top: -1px;
}
.savings span {
    color:  #DF3239;
}
.price-text {
    font-size:  31px;
    font-weight:  600;
    margin-bottom: 5px;
}
.caradd-content-right .boxed-btn {
    border-color: #DF3239;
    background-color:  #DF3239;
    color:  #fff;
}
.caradd-content-right .boxed-btn:hover {
    border-color: #333;
}
.caradd-content-right .boxed-btn:after {
    background-color: #333;
}



/*==========================================*/
.scroling-menu-area {
    background-color: #484848;
    box-shadow: none;
}
.scroling-menu-area .nav {
    display: inherit;
    border: none;
}
.scroling-menu-area.stick-scroll {
    position: fixed;
    width: 100%;
    top: 98px;
    left: 0;
    z-index: 999;
    background-color: #484848;
    box-shadow: none
}
.scroling-menu-area ul li a {
    padding: 10px 25px;
}
div#ahq-tab-content-wrap {
    background: #f1f1f1;
    padding: 55px 0px;
    overflow: hidden;
}
#ahq_description, #ahq_specification, #ahq_why_choose, #ahq_finance, #ahq_partexchange, #ahq_free_credit_check{
    padding: 20px 15px;
    background-color: #fff;
}
 #ahq_partexchange {
    background-color: #f1f1f1;
 }
 #ahq_why_choose {
    padding: 0;
 }
.single-table h3 img {
    left: auto;
    right: 50px;
    top: 0;
}
.single-table h3 {
    margin-left: 0px;
    color: #df3239;
    font-size: 26px
}




/* Why choose us*/


ul.why-choose-tab-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.why-choose-tab-menu.nav {
    display: inherit;
    padding: 20px 0px;
    position: relative;
    background-color: #fff
}
.why-choose-tab-menu.nav:after, .why-choose-tab-menu.nav:before {
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #fff;
    content: "";
    top: 0;
}
.why-choose-tab-menu.nav:after {
    right: 100%;
}
.why-choose-tab-menu.nav:before {
    left: 100%;
}
ul.why-choose-tab-menu li {
  display: inline-block;
}
ul.why-choose-tab-menu a {
  color: #333;
  margin: 0px 25px;
  font-weight: 600;
}

ul.why-choose-tab-menu a.active {
  color: #DF3239;
}
.why-choose-tab-content {
    text-align: center;
    padding: 20px 10px
}
.why-choose-tab-content h3 {
    position: relative;
    margin-bottom: 25px
}
.why-choose-tab-content h3:after {
    position: absolute;
    left: 50%;
    bottom: -10px;
    background-color: #333;
    height: 1px;
    width: 80px;
    content: "";
    transform: translateX(-50%);
}
.why-choose-tab-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    font-weight: 600
}
.why-choose-tab-content li {
    line-height: 20px;
    margin: 10px 0px;
    position: relative;
    padding-left: 30px
}
.why-choose-tab-content li i {
    color: #62C831;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 18px
}
#history ul {
    margin-top: 20px;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}
#warranty img, #promise img {
    margin: 15px 0px
}
#history, #promise, #warranty {
    position: relative;
}

#ahq_why_choose .tab-pane > p {
    padding: 0px 100px;
}
.div#myTabContent {
    background-color: #F1F1F1;
}
.single-table tr:not(:last-child){
    border-bottom: 1px solid #ededed;
    line-height: 30px
}






/* Angle bg*/
#history:after, #promise:after, #warranty:after,
#history:before, #promise:before, #warranty:before{
    content: "";
    width: 0px;
    height:0px;
    position: absolute
}
#history:after{
    left: 100%;
    border-top: 400px solid #C30D40;
    border-left: 337px solid transparent;
    top: -20px;
}
#history:before{
    right: 100%;
    bottom: -74px;
    border-bottom: 260px solid #C30D40;
    border-right: 283px solid transparent; 
 }
#promise:before, #warranty:before{
    top: -20px;
    right: 100%;
    border-top:  400px solid #C30D40;
    border-right: 337px solid transparent
}
#promise:after, #warranty:after {
    bottom: -94px;
    border-bottom:  400px solid #C30D40;
    border-left: 337px solid transparent;
    left: 100%
}
#promise .p-r-20 {
    padding-right: 30px 
}



/*ahq_autotrader-wrappe*/
#ahq_autotrader-wrapper {
    background-color: #fff;
    padding: 35px 0px
}
#ahq_autotrader-wrapper * {
    color: #fff
}
.autotrader {
    background-image: url(../img/autotrader-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 30px
}
.autotrader img {
    margin-bottom: 30px
}
.autotrader-content {
    width: 45%;
}
.rating i {
    font-size: 20px
}





/**/

#ahq_partexchange h1, #ahq_partexchange h2 {
  margin: 0;
}
.valu-my-vehicle-wrap {
  margin-top: 35px;
}
.input-group-vehicle {
    position: relative;
    width: 268px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.input-group-prepend {
  position: absolute;
  left: 0;
  background: #484848;
}
.valu-my-vehicle-wrap input.input-reg {
    padding-left: 50px;
    height: 50px;
    font-weight: 700;
}
.input-group-prepend {
    position: absolute;
    left: 0;
    background: #484848;
    height: 50px;
    width: 50px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
}
.input-group-prepend::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    width: 35px;
    height: 35px;
    border: 2px dashed #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
#ahq_partexchange {
    background-image: url(../img/part-ex-car-ad.png);
    height: 550px;
    background-position: center bottom;
    background-repeat: no-repeat;
}
 button[type="submit"] {
    background-color: rgb(224, 51, 57);
    border-color: rgb(224, 51, 57);
    color: #fff
 }
button[type="submit"]:hover {
    background-color: rgb(51, 51, 51) !important;
    border-color: rgb(51, 51, 51) !important;
  }






/* Accordion*/

#accordion .card h4 {
    background: #484848;
    color: #fff;
    margin: 0;
    border-bottom: 1px solid #fff;
    font-size: 24px;
    font-weight: 400;
    padding: 15px 20px;
    position: relative;
}
#accordion .card h4:hover {
    cursor: pointer
}
#accordion .card h4::after {
    position: absolute;
    right: 20px;
    top: 28%;
    width: 40px;
    height: 50%;
    font-family: FontAwesome;
    color: #fff;
}
#accordion .card h4:after {
    content: "\f068"
}
#accordion .card h4.collapsed:after {
    content: "\f067"
}

/*.tab-content>.active {
    display: inherit;
}
.tab-content .active {
    display: block;
}
.tab-content>.tab-pane {
    display: inherit;
}
.tab-content .tab-pane {
    display: none
}*/