/*=============================================================================
   all other css definitions for the car-details page (including font families)
===============================================================================*/




.deposit-bg-2 {background-image: url(../img/deposit-bg-2.jpg);}
.customer-review-area {background-image: url(../img/review-bg-2.jpg);}






.popup-icon a {
  border-radius: 50px;
  bottom: 10px;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  left: 10px;
  line-height: 38px;
  position: absolute;
  text-align: center;
  width: 40px;
  transition: .3s;
}



.caradd-text {
    margin-right: 15px;
}
.bmw-small-image-slider {
  margin-top: 6px;
}
.single-car-slider {
    position: relative;
}
.single-car-slider img {
    border-radius: 5px;
}
.popup-icon {
    position: absolute;
    left: 0;
    bottom: 0;
}
.single-small-image img {
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 130px;
    border-radius: 5px;
    height: 98px;
}
.bmw-car-slider {
  margin: auto;
  padding: 0;
  position: relative;
}




.header-area.stick-menu .wid45 {
    top: 0;
}
.breadcrumb-text {
    font-size: 17px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.breadcrumb-text a {
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
}
.blue-bar {
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 0 10px 0px;
}
.blue-bar h1 {
    font-size: 22px;
    margin: 19px 0 0px 0px;
}
.blue-bar .crossline {
    font-size: 20px;
    position: relative;
}
.blue-bar .crossline:after {
    position: absolute;
    left: 0;
    top: 14px;
    width: 100%;
    height: 1px;
    content: "";
}
.blue-bar .current-amount {
    font-size: 20px;
}
.blue-bar .curret-amount {
    font-size: 35px;
}
.blue-bar .crossline, .blue-bar .curret-amount {
    line-height: 27px;
    margin-left: 30px;
}
.caradd-content {
    padding: 20px 15px 0px;
    border-radius: 5px;
}
.single-add-icon {
    width: 64px;
    font-size: 12px;
}
.caradd-icons-row {
    height: 75px;
    align-items: flex-end;
    text-align: center;
    margin-top: 25px;
}
.single-add-icon p {
    margin: 5px 0 0 0;
}
.caradd-content-right .boxed-btn {
    padding: 0;
    min-width: 165px;
    margin-bottom: 15px;
}
.caradd-content-right {
    text-align: center;
}
.caradd-content-right img {
    margin-bottom: 40px;
    max-width: 100px;
    height: 80px;
}
.caradd-content-right .share-icons {
    text-align: left;
    font-size: 15px;
    margin-left: 9px;
}
.caradd-content-right .share-icons p {
    margin: 15px 0 10px;
}
.share-icons a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 31px;
    border-radius: 50%;
    margin-right: 5px;
    transition: .3s;
}


.visible-on-mobile a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .3s;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 41px;
    margin: 0 6px;
}
.visible-on-mobile {
    text-align:  center;
}
.visible-on-mobile i.fa-share-alt {
    padding-right: 4px;
}



.car-slider-wrap {
    border-radius: 5px;
    padding: 10px;
}
.single-car-slider-bottom img {
    display: block;
    text-align: center;
    margin: 0 auto 5px;
}
.single-car-slider-bottom {
    margin: 0 90px 0 0;
    font-weight: 700;
    position: relative;
    padding-left: 27px;
    transition: .3s;
}
.single-car-slider-bottom i.fa {
    font-size: 22px;
    position: absolute;
    left: 0;
    top: 1px;
}
.single-car-slider-bottom:last-child {
    margin-right: 0;
}
.car-slider-bottom {
    padding-top: 20px;
}






.scroling-menu-area {
    position: relative;
    z-index: 1;
}
.scroling-menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.scroling-menu-area ul li {
    display: inline-block;
    position: relative;
}
.scroling-menu-area ul li a {
    display: block;
    font-size: 19px;
    padding: 15px 60px;
}
.scroling-menu-area ul li:last-child {
    border-right: 0;
}
.scroling-menu-area ul li a.active:after {
    position: absolute;
    bottom: -13px;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    margin-left: -5px;
    z-index: 2;
}


/*======.deposit-large-bg======*/
.deposit-large-bg h2 {
    font-size: 50px;
    line-height: 43px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 169px;
}
.deposit-large-bg h2 span {
    position: absolute;
    left: -173px;
    top: 23px;
    font-size: 120px;
}
.deposit-large-bg-area {
    background-size: cover;
    background-position: center;
    height: 380px;
    font-size: 17px;
}
.section-padding-2 {
    padding: 35px 0;
}
.section-title.spec-title {
    margin-bottom: 40px;
}
.single-table {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.single-table h3 {
    font-size: 21px;
    position: relative;
    margin: 7px 0 15px 50px;
}
.single-table h3 img {
    position: absolute;
    left: -50px;
    top: -8px;
}
.specification-area .col-lg-6:nth-child(1) {
    padding-right: 30px;
}
.specification-area .col-lg-6:nth-child(2) {
    padding-left:  30px;
}



/*========.table css==========*/
.tdwidth50 tr td:nth-child(1) {
    padding-right: 60px;
}
.tdwidth25 tr td:nth-child(1) {
    padding-right: 25px;
}
.tdwidth35 tr td:nth-child(1) {
    padding-right: 35px;
}
.tdwidth70 tr td:nth-child(1) {
    padding-right:  70px;
}
.tdwidth45 tr td:nth-child(1) {
    padding-right:  45px;
}

/*========.part exchange css==========*/
.exchange-area {
    font-size: 21px;
}
.exchange-area h2 {
    font-size:  38px;
    margin-bottom:  10px;
}
.exchange-area h1 {
    font-size:  130px;
    color:  #0da0f4;
}
.exchange-area .boxed-btn {
    margin-top:  20px;
}
.card-body.exchange-acc-body-mobile {
    padding: 20px
}
.exchange-acc-body-mobile {
      text-align: left;
}
.exchange-acc-body-desk img {
  margin-top: 150px;
}
.exchange-acc-body-mobile img{
  margin-top: 0px;
}
/*=============Accordion=============*/
#headingOne a.exchange-acc-heading-desk {
  font-size: 130px;
  top: 78px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  cursor: inherit;
}
#headingOne a.exchange-acc-heading-mobile.collapsed {
    position: relative;
}
#headingOne a.exchange-acc-heading-mobile {
    font-size: 24px;
    top: inherit;
    position: relative;
    left: inherit;
    transform: inherit;
    width: 100%;
    cursor: pointer;
    background-color: #0da0f4;
    display: block;
    text-align: left;
    padding: 10px 20px;
    font-weight: 400;
}
#headingOne a.exchange-acc-heading-mobile::after{
    content: '\f068';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 22px;
    font-weight: 400;
    font-family: 'fontawesome';
}
#headingOne a.exchange-acc-heading-mobile.collapsed::after{
    content: '\f067';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 22px;
    font-family: 'fontawesome';
    font-weight: 400;
}



/*========.customer-review-area css==========*/
.customer-review-area {
    background-position: center;
    background-size: cover;
    min-height: 470px;
    font-size: 19px;
    margin-bottom: 10px;
}
.footer-widget-area.white-bg:after {
    top: 0px;
}
.customer-review-area h2 {
    font-size: 55px;
    margin-bottom: 10px;
}
.customer-review-area .quote {
    margin-bottom:  10px;
}
.review-bottom img {
    display:  block;
    margin: 20px  auto;
}
.scroling-menu-area.stick-scroll {
    position: fixed;
    width: 100%;
    top: 80px;
    left: 0;
    z-index: 999;
}

/*============Accordion css============*/

#headingTwo a.cust-review-acc-heading-desk {
    font-size: 55px;
    cursor: inherit;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
}
#headingTwo a.cust-review-acc-heading-mobile::after {
    content: '\f068';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 22px;
    font-weight: 400;
    font-family: 'fontawesome';
}
 #headingTwo a.cust-review-acc-heading-mobile.collapsed::after  {
    content: '\f067';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 22px;
    font-family: 'fontawesome';
    font-weight: 400;
 }
#headingTwo a.cust-review-acc-heading-mobile {
  text-align: left;
  width: 100%;
  display: block;
  padding: 10px 20px;
  font-size: 24px;
font-weight: 400;
}
#accordion2 {
  width: 100%;
}
.card-body.cust-review-acc-body-mobile {
    padding: 20px;
}
.card-body.cust-review-acc-body-desk {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}


/*========.card-customization=========*/
.card.car-slider-wrap, .card.caradd-wrap, .card.single-table {
    border: 0;
    border-radius: 5px;
}
.card.car-slider-wrap .card-body, .caradd-wrap .card-body {
    padding:  0;
}
.card.car-slider-wrap .card-footer {
    padding: 0;
    background: none;
    border: 0;
}
.caradd-wrap .card-header {
    padding: 0;
    border-bottom: 0;
}
.card.caradd-wrap {
    margin: 0 15px 0 15px;
}
.card.car-slider-wrap {
    margin: 0 15px 0 15px;
}
.single-table .card-body {
    padding: 0;
}



div#ahq_partexchange .card, .customer-review-area .card {
    border: 0;
    border-radius:  0;
    background: none;
}
div#ahq_partexchange .card-body, .customer-review-area .card-body {
    padding:  0;
}





.footer-widget-left, .newsletter-signup {
    position: relative;
}
.newsletter-signup:after{
    right: -5000px;
}
.footer-widget-left:after{
    left: -5000px;
}
.newsletter-signup:before{
    left: -5000px;
}
.footer-widget-left:before{
    right: -5000px;
}
.footer-widget-left:after, .newsletter-signup:after, .footer-widget-left:before, .newsletter-signup:before {
    position: absolute;
    top: 0;
    /* width: 5000px; */
    height: 100%;
    content: "";
}



/* specification-area */
.finance-accordion-heading-wrap a{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
}
.finance-accordion-heading-wrap a.collapsed {
    transition: .5s;
}
.finance-accordion-heading-wrap a{
    font-size: 24px;
    top: inherit;
    position: relative;
    left: inherit;
    transform: inherit;
    width: 100%;
    cursor: pointer;
    display: block;
    text-align: left;
    padding: 10px 20px;
    font-weight: 400;
}
.finance-accordion-heading-wrap a::after{
    content: '\f068';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 22px;
    font-weight: 400;
    font-family: 'fontawesome';
}
.finance-accordion-heading-wrap a.collapsed::after{
    content: '\f067';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 22px;
    font-family: 'fontawesome';
    font-weight: 400;
}








