/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }
.section-padding{
    padding: 80px 0px
}
.section-title{
    margin-bottom: 60px
}


