/*========================================================================
               colour definitions for the car-details page
==========================================================================*/

.breadcrumb-text {
    color: #8c8c8c;
}
.breadcrumb-text a {
    color: #ba0000;
    border-right: 1px solid #D6D6D6;
}


.popup-icon a {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(119, 119, 119);
  color: rgb(72, 72, 72);
}
.popup-icon a:hover {
    background-color: #ba0000;
    color: #fff;
}

.cardetails-area {
    background-color: #F4F4F4;
    padding-bottom: 40px;
}

.blue-bar {
    background-color: #ba0000;
    color: #fff;
}
.blue-bar .crossline {
    color: #004267;
}
.blue-bar {
    background-color: #ba0000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.car-slider-wrap .slick-prev::before, .car-slider-wrap .slick-next::before {
    position: absolute;
    top: -6px;
    color: #D0D0D0;
    font-size: 26px;
    font-family: fontawesome;
    font-weight: bold;
}
.blue-bar .crossline:after {
    background-color: #004267;
}
.exchange-area h1 {
    font-size:  130px;
    color:  #ba0000;
}
.caradd-content {
    background-color: #fff;
    color: #6d6d6d;
}

.share-icons a {
    background-color: #E7E7E7;
    color: #858585;
}
.share-icons a:hover {
    background-color: #ba0000;
    color: #fff;
}
.caradd-content-right .boxed-btn.blue-btn {
    background-color: #ba0000;
    color: #fff;
}
.caradd-content-right .boxed-btn.blue-btn:hover:after {
    border-color: #ba0000;
    background-color: #fff;
}
.caradd-content-right .boxed-btn.blue-btn:hover {
    color: #ba0000;
}
.visible-on-mobile a {
    background-color: #F1F1F1;
    color: #2DADF8;
}
.visible-on-mobile a:hover {
    background-color:  #ba0000;
    color: #fff;
}

.car-slider-wrap {
    background-color: #fff;
}

.single-car-slider-bottom {
    color: #494949;
}
.single-car-slider-bottom i.fa {
    color: #ba0000;
}
.single-car-slider-bottom:hover{
    color: #ba0000;
}

.scroling-menu-area {
    background-color: #ba0000;
    box-shadow: 0px 2px 6px #ba0000;
}

.scroling-menu-area ul li {
    border-right: 1px solid #0c5c9c;
}
.scroling-menu-area ul li a {
    color: #fff;
}
.scroling-menu-area ul li a.active:after {
    border-top: 13px solid #ba0000;
}

/*======.deposit-large-bg======*/
.deposit-large-bg .boxed-btn {
    border-color: #ba0000;
    color: #ba0000;
	background-color: #fff;
}
.deposit-large-bg .boxed-btn:hover {
    border-color: #ba0000;
    color: #fff;
	background-color: #ba0000;
}
.deposit-large-bg .boxed-btn:after {
    border-color: #ba0000;
    color: #fff;
	background-color: #ba0000;
}

.deposit-large-bg-area {
    color: #fff;
}
.single-table {
    background-color: #fff;
}
.specification-area {
    background-color: #F4F4F4;
}
.single-table h3 {
    color: #ba0000;
}

/*========.part exchange css==========*/
.exchange-area h1 {
    color:  #ba0000;
}
.exchange-acc-body-mobile {
      color: #ba0000;
}
#headingOne .exchange-acc-body-mobile  h2 {
    color: #ba0000
}

/*=============Accordion=============*/
#headingOne a.exchange-acc-heading-desk {
  color: #ba0000;
}
#headingOne a.exchange-acc-heading-mobile.collapsed {
    background-color: #ba0000;
	color: #fff;
}
#headingOne a.exchange-acc-heading-mobile {
    color: #ba0000;
	background-color:#fff;
}
#headingOne a.exchange-acc-heading-desk:hover {
  color: #ba0000;
}


/*========.customer-review-area css==========*/
.customer-review-area {
    background-color: #ba0000;
}
.customer-review-area, .customer-review-area a {
    color:  #fff;
}
.customer-review-area .boxed-btn {
    border-color: #fff;
}
.customer-review-area .boxed-btn:hover:after, .deposit-large-bg .boxed-btn:hover:after {
    background-color:  #fff;
}
.customer-review-area .boxed-btn:hover, .deposit-large-bg .boxed-btn:hover, .caradd-content-right .boxed-btn.blue-btn:hover {
    color: #ba0000 !important;
}

/*============Accordion css============*/
#headingTwo a.cust-review-acc-heading-mobile {
  background: #ba0000;
}
#headingTwo a.cust-review-acc-heading-mobile.collapsed {
    background-color: #464646; 
}
.card-body.cust-review-acc-body-mobile {
    background-color: #333
}

/*========.card-customization=========*/
.caradd-wrap .card-header {
    background: #F4F4F4;
}
.card.single-table {
    background-color: #fff;
}


.newsletter-signup:after{
    background-color: #272727;
}
.footer-widget-left:after{
    background-color: #2C2C2C;
}
.newsletter-signup:before{
    background-color: #272727;
}
.footer-widget-left:before{
    background-color: #2C2C2C;
}

/* specification-area */
.finance-accordion-heading-wrap a{
    color: #484848;
}
.finance-accordion-heading-wrap a.collapsed {
    background-color: #464646;
}
.finance-accordion-heading-wrap a{
    color: #fff;
    background-color: #ba0000;
}

