/*========================================================================
                colour definitions for the sell-your-car page
==========================================================================*/

.breadcrumb-text a {
    color: #ba0000;
    border-right: 1px solid #D6D6D6;
}
.breadcrumb-text {
    color: #8c8c8c;
}
.valuation-text {
	color:  #2c2c2c;
}
.gray-bg-3 {
    background-color: #F4F4F4;
}
.reg-btn {
    background-color: #484848;
    color: #fff;
}
.reg-btn .dots-style {
    border: 1px dashed #ba0000;
}
.check-mark {
    color: #72B575;
}
.input-box input {
    color: #484848;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #484848;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #484848;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #484848;
}
:-moz-placeholder { /* Firefox 18- */
  color: #484848;
}

.booking-form input[type="text"], .booking-form input[type="email"], .booking-form input[type="password"], .booking-form input[type="tel"] {
    background-color: #E7E7E7;
    color: #ba0000;
}

.booking-form textarea {
    background-color: #E7E7E7;
    color: #ba0000;
}
.booking-form-wrap button[type="submit"], .booking-form-wrap button[type="button"] {
    background: #ba0000;
    color:  #fff;
}
.booking-form-wrap button[type="submit"]:hover, .booking-form-wrap button[type="button"]:hover {
    background: none !important;
    color: #ba0000;
}

.booking-form label {
    color: #525252;
}
.your-details span {
    background-color: #E7E7E7;
}
.booking-form select {
    background-color: #E7E7E7;
    color: #525252;
}
.closing-text i.fa {
    color: #008000;
}


/* booking-form-wrap*/
#progressbar li {
  background: #393939;
  color: #fff;
}
#progressbar li.active {
    background-color: #ba0000;
}
#progressbar li:not(:last-child):after {
  background: #ccc;
}
#progressbar li:not(:first-child):before {
    background: #ba0000;
}
.submit-reg-btn-wrap i {
    color: #ba0000;
}
.slider-for .slick-dots li {
  background: #ba0000;
}
.slider-for .slick-dots .slick-active::after {
    border: 1px solid #ba0000;
}




/*OVERRIDE*/

input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #ba0000 !important;
    color: #fff;
}