/*========================================================================
           colour definitions for the header and footer
==========================================================================*/
/*CARTER */


/*=============Main Theme Colours===============*/
c1{
	colour:#ba0000;
	color:#ba0000;
}
.c2{
	colour:#ba0000;
	color:#ba0000;
}
.c3{
	colour:#393939;
	color:#393939;
}
.b1{
	colour:#4392F1;
	color:#4392F1;
}
.b2{
	colour:#4392F2;
	color:#4392F2;
}
.c1s{
	colour:#ed0000;
	color:#ed0000;
}
.DF1{
	colour:#000000;
	color:#000000;
}
.DF2{
	colour:#FFFFFF;
	color:#FFFFFF;
}




/*=====.header-top-area=======*/
.header-top-area {
    background-color: #ba0000;
}

.header-top-area, .header-top-area a:hover {
    color: #393939;
}
.header-top-area, .header-top-area a {
    color: #fff;
}
.fa-phone:hover {
    color: #393939;
}

/*=====.mainmenu=======*/
.mainmenu ul li a {
    color: #717171;
    border-right: 1px solid #E3E3E3;
}
.mainmenu ul li:last-child a {
    border-right: 0px solid #E3E3E3;
}
.mainmenu ul li:hover > a {
    color: #BA0000;
}


/*=======Mega Menu + Off-canva menu=======*/
.mainmenu li ul {
    background-color: #fff;
}
.mainmenu ul li.mega-menu > ul {
    border-top: 8px solid #ba0000;
}
.off-canvas-menu {
    background-color: #F2F6F7;
}
.off-canvas-menu ul li a {
    border-bottom: 1px solid #E3E3E3;
    color: #484848;
}
span.menu-close {
    color: #ba0000;
}
.off-canvas-overlay {
    background-color: #000;
}
.menu-trigger span {
    background-color: #ba0000;
}
.mobile-search-box input[type="text"] {
    border: 1px solid #E0E0E0;
    box-shadow: inset 0 0 5px #ddd;
}
.mobile-search-box button[type="submit"] {
    background-color: #ba0000;
    color: #fff;
}

.megamenu-bottom{
    color: #ba0000;
}
.megamenu-social-icons a{
    color: #DD4F21;
}
.single-megamenu-item h3 {
    border-bottom: 1px solid #D9D9D9;
    color: #484848 !important;
    color: #484848;
}
.megamenu-content h3 {
    color: #ba0000;
}
.usedcarlogo {
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}
.upto-text {
    background-color: #ba0000;
    color: #fff;
}
.upto-text a:link, .upto-text a:hover, .upto-text a:visited, .upto-text a:active, .upto-text a {
	color: #fff;
	
}
.vehicles-details {
    border: 1px solid #D9D9D9;
}
.vehicles-details .boxed-btn {
    border-right: 1px solid #ba0000;
    color: #ba0000;
}


/*==========.footer-widget + footer area=============*/
.footer-widget-left {
    background-color: #2C2C2C;
}
.newsletter-signup {
    background-color: #272727;
}
.quick-links h5 {
    color: #d5d5d5;
}
.quick-links ul li:hover a, .quick-links a:hover {
    color: #393939;
}
.newsletter-signup h4 {
    color: #d5d5d5;
}
.footer-widget-area, .footer-widget-area a {
    color: #9c9c9c;
}
.footer-widget-left .logo h2 a {
    color: #ba0000;
}
.widget-social-icons a {
    color: #686868;
    border: 2px solid #686868;
}
.newsletter-signup:after{
    background-color: #272727;
}
.footer-widget-left:after{
    background-color: #2C2C2C;
}
.signup-form button[type="submit"] {
    background-color: #fff;
}
.signup-form button[type="submit"]:hover {
    background-color: #FFFFFF !important;
    background-color: #FFFFFF;
}
.signup-form {
    background-color: #fff;
}
.widget-social-icons a:hover {
    background-color: #ba0000;
    color: #fff;
    border-color: #fff;
}
.footer-area {
    background-color: #373737;
    color: #686868;
}

.chat-box a i.fa {
  
    color: #ba0000;
    
}

/*////////////////OVERRIDES///////////////////*/
.boxed-btn, input[type="submit"], button[type="submit"] {
    color: #ba0000;
    border: 1px solid #ba0000;
}
input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #ba0000;
    color: #fff;
}
.chat-box {
    border-right: 5px solid #ba0000;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
    color: #ba0000;
}

.single-header-top {
    border-right: 1px solid #ED0000;
}

a{
	color:#393939;
}

.boxed-btn:after {
    color: #fff;
	background-color:#ba0000;
	border-color:#ba0000;
}
.boxed-btn:hover {
    color: #fff;
	background-color:#ba0000;
	border-color:#ba0000;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ba0000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ba0000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ba0000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ba0000;
}
.openToday {
	color: #ba0000; 
	font-weight: 700;
	}
.chat-box a:hover i.fa {
    background-color: #ba0000;
}
.chat-box a:hover {
    color: #fff;
}



.owl-dots div {
    background-color: #BBBBBB;
}
.owl-dots div.active {
    background-color: #ba0000;
}
.owl-nav div {
    color: #ADADAD;
}
.owl-nav div:hover {
    color: #ba0000;
}
select {
	color: #ba0000;
    background-color: #fff;
}
.chat-box {
    background-color: #2C2C2C;
    border-right: 5px solid #ba0000;
}
.chat-box a {
    color: #fff;
}
.chat-box a i.fa {
    background-color: #fff;
}

.chat-box a:hover i.fa {
    background-color: #ba0000;
    color: #fff;
}
.chat-box a:hover {
    color: #fff;
}

.header-area.stick-menu {
    background-color: #fff;
}
input[type="checkbox"] + label:before {
    background-color: #fff;
}
input[type="checkbox"]:checked + label:before {
    color: #0F4A6E;
}

input[type="radio"] + label:before {
    background-color: #fff;
}
input[type="radio"]:checked + label:before {
    color: #0F4A6E;
}
.mainmenu ul li.mega-menu > ul:after {
border-top: 10px solid #ba0000;

}

/* responsive listing*/
.refine-text {
	 border-bottom: 5px solid #ba0000;
}
.refine-text span i.fa {
    color: #fff;
}
.width270 {
    background-color: #fff;
}
.header-area.stick-menu {
	background-color:#fff;
}




/*//////////////////////////////////////////////*/


/*=========sticker css========*/
/*====DO NOT CHANGE UNLESS CLIENT REQUEST=======*/

.single-listing-item-1 .carphoto .sticker {
    background-color:  #fff;
    color:  #ba0000;
}
.single-listing-item-1 .carphoto .sticker.red-sticker {
    background-color:  #E32D2D;
    color:  #fff;
}
.single-listing-item-1 .carphoto .sticker.blue-sticker {
    background-color: #ba0000;
    color: #fff;
}

.single-listing-item-1 h3 .price-changed {
    color:  #ba0000;
}
.single-listing-item-1 h3 .price-changed:after {
    background-color: #ba0000;
}

.logo img { max-width: 200px }



.gray-bg {
    background-color: #F4F4F4;
}