/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    margin:0 0 15px;
    color: #464646;
    text-transform: uppercase;
    font-weight: 700
}
body {
    font-size: 14px;     /* It will be change */
    font-weight: 400;
    line-height: 26px;      /* It will be change */
    font-family: 'Lato', sans-serif;   /* It will be change */
    letter-spacing: 1px;
    color: #666666;    /* It will be change */
}
a:hover { text-decoration: none }

.section-padding{
    padding: 80px 0px;
}
.section-title{
    text-align: center;
    margin-bottom: 60px
}


.team-social-icon {
    background: #5ba939;
    text-align: center;
    padding: 10px 0px;
    margin-top: -30px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}
.team-social-icon a {
  color: #fff;
  border: 1px solid;
  height: 35px;
  display: inline-block;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
  margin: 0px 5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s
}
.team-social-icon a:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
.single-team-itam{
    box-shadow: 0 0 10px #ccc;
    padding-bottom: 10px
}
.single-team-itam h4 {
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
}
.single-team-itam span {
    font-size: 80%;
    display: block;
    font-weight: 400;
    margin-top: 10px;
}