.header-area {
  background: linear-gradient(160deg, #337ab7 0%, #ffffff 100%);
  padding: 15px 0px;
}

h1 {
  color: #fff;
}

.btn-offline {
  color: #fff;
  background-color: #9a9a9a;
  border: 1px solid #9a9a9a !important;
}

.btn-offline:hover,
.btn-offline:focus,
.btn-offline:visited {
  color: #fff;
  background-color: #9a9a9a;
  border: 1px solid #9a9a9a !important;
}

.btn-finished {
  color: #fff;
  background-color: #000;
  border: 1px solid #000 !important;
}

.btn-finished:hover,
.btn-finished:focus,
.btn-finished:visited {
  color: #fff;
  background-color: #000;
  border: 1px solid #000 !important;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06d85f;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06d85f;
}
.panel {
  border-radius: 0px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999999;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}
.btn-finished {
  pointer-events: none;
  cursor: default;
}
.popup {
  z-index: 99999;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  position: relative;
  transition: all 0s ease-in-out;
  overflow: hidden;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06d85f;
}
.panel-success {
  border: 1px solid #d6e9c6 !important;
}
.panel-heading {
  border-top-left-radius: 0px !important;
}
.popup .content {
  min-height: 450px;
  overflow: auto;
}
.hidecheckbox {
  margin-top: 10px;
}
.padding-tb {
  padding: 20px 0px;
}

.chat__box {
  position: absolute;
  right: 0px;
  top: 60px;
}
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-bottom: none;
}
.chat__box--btn {
  background: #4472c4;
  border-radius: 15px 15px 0px 0;
  padding: 18px 60px 18px 30px;
  line-height: 10px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 53px;
  left: -99px;
  transform: rotate(-90deg);
  border: 1px solid #2f5597;
  border-bottom-color: transparent;
  z-index: 99;
  /* display: none; */
}
.chat__box--btn.active:after {
  content: "";
  left: 108px;
  top: 17px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
}
.chat__box--btn:hover {
  cursor: pointer;
}

.chat__box-field {
  width: 0;
  transition: all 0.5s ease 0s;
  position: relative;
}

.chat__box-field.open {
  width: 700px;
  transition: all 0.5s ease 0s;
  visibility: visible;
  z-index: 9;
}

.panel-success > .panel-heading {
  background-color: #4472c4;
  color: #fff;
  border-color: #4472c4;
  border-radius: 0px;
}
.btn.btn-warning {
  background-color: #4472c4;
  border-color: #4472c4;
}
.btn-warning:focus,
.btn-warning:active {
  background: #4472c4 !important;
}
img#Foto {
  width: 40px;
}

#ElchatlistaOnline {
  display: none !important;
}
.panel-body {
  height: 320px;
}
.panel-body.message-panel-body {
  height: auto;
  overflow-y: auto;
}
.panel-heading .glyphicon {
  top: 3px;
}
.panel.panel-success {
  border: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}
